﻿/* Add custom CSS */
/*fonts*/
@font-face {
    font-family: "EffraMedium";
    src: url("./../fonts/Effra\ Medium.ttf");
}

@font-face {
    font-family: "EffraRegular";
    src: url("./../fonts/Effra\ Regular.ttf");
}

@font-face {
    font-family: "EffraBold";
    src: url("./../fonts/Effra\ Bold.ttf");
}

@font-face {
    font-family: "EffraLight";
    src: url("./../fonts/Effra\ Light.ttf");
}
/*end-fonts*/
/*general*/
.footer-item .info-text a {
    color: white;
}

.border-none {
    border: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

.mb-30 {
    margin-bottom: 30px;
}
/*custom select */
.w-206px {
    width: 206px;
}

.header__language--dropdown {
    position: relative;
}

    .header__language--dropdown select {
        display: none; /*hide original SELECT element: */
    }

.select-selected {
    background: #fff;
    border-radius: 10px;
}
    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 19px;
        right: 13px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #886A36 transparent transparent transparent;
    }
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }
/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #3F3F3F;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/*end of custom select*/
.select-dropdown::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select:focus {
    outline: unset !important;
}

.select-dropdown {
    height: 52px;
    border-radius: 10px;
    background: #ffffff;
}

.b-top {
    border-top: solid 1px #C4C4C4;
}

.d-contents {
    display: contents;
}

.cp {
    cursor: pointer;
}

.map iframe {
    width: 100%;
}

.img-round-w174 {
    width: 174px;
}

.insite-nav #navlist {
    float: unset !important;
    display: flex;
    justify-content: center;
}

.insite-nav {
    height: 70px !important;
    position: unset !important;
    background: #3F3F3F !important;
}
/*listing general*/
.spec-text {
    color: #959595;
    font-family: "EffraLight";
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.08972218px;
}

.bg-listing-grey {
    background: #2C2C2B;
}

.listing-title {
    font-family: "EffraBold";
    font-size: 57px;
    font-weight: 400;
    letter-spacing: -0.21923076px;
}

.listing-subtitle {
    color: #464a66;
    font-family: "EffraBold";
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -0.2124999px;
}

.img-listing-size {
    max-height: 591px;
    ;
}

.marketing-list {
    color: #fff;
    font-family: "EffraMedium";
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.10766662px;
}
/*end of listing general*/
.w-117 {
    width: 117px;
}

.button {
    cursor: pointer;
}

.mt-60 {
    margin-top: 60px;
}

.test-padding-banner {
    padding-top: 15%;
}

.tab-h53 {
    height: 53px;
}

.tab-style {
    font-family: "EffraMedium";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.07555552px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #E4DFD8;
    border-color: #E4DFD8;
}

.accordion .btn-primary {
    color: #000;
    background-color: #E4DFD8;
}

    .accordion .btn-primary:focus {
        box-shadow: unset;
        color: #000;
    }

.accordion .btn:active {
    box-shadow: unset;
    color: #000;
    background-color: #E4DFD8;
}

.nav-black {
    position: unset !important;
    background: #000 !important;
    min-height: 116px;
}

.sub-testimonials {
    width: fit-content;
}
/*news general*/
.article-img {
    height: 739px;
}

.article-title {
    font-family: "EffraBold";
    font-size: 71px;
    font-weight: 400;
    line-height: 74px;
    text-align: center;
    letter-spacing: -0.2730769px;
}

.news-list-size {
    width: 447px;
}

.news-img {
    height: 334px;
}

.news-title {
    color: #131313;
    font-family: "EffraBold";
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1416666px;
}

.news-paragraph {
    color: #131313;
    font-family: "EffraLight";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.08499996px;
}
/*end of news general*/
.br-none {
    border-radius: unset !important;
}

.h-33 {
    height: 33px;
    font-family: "EffraMedium";
    font-size: 14px;
    font-weight: 400;
}

.bg-blue-cat {
    background: #3A5DAE !important;
}

.categories-mark-card {
    border-radius: unset !important;
    height: 35px;
    margin: unset !important;
    font-family: "EffraRegular";
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.04766665px;
}

.categories-mark {
    border-radius: unset !important;
    height: 35px;
    font-family: "EffraRegular";
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.04766665px;
}

.icon-input {
    position: relative;
    text-align: center;
}

.input-icon-box {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 50px;
    background-color: #886A36;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: "EffraRegular";
    font-size: 21px;
    font-weight: 400;
    padding-top: 1.1rem;
}

.icon-input input {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 0px;
}

.a-white {
    color: #FFF !important;
}

#outer-circle {
    background: #D8D8D8;
    border-color: #B4B3B1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
}

#inner-circle {
    position: absolute;
    background: #A68825;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin: -15px 0px 0px -15px;
    padding: 3px 1px 0px 7px;
}

.banner-items .btn {
    border: 2px solid #A68825 !important;
}

.card-home-text-style {
    font-family: "EffraBold";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.08499996px;
}

.on-desktop {
    display: block;
}

.on-mobile {
    display: none;
}

.greybox-separated-text {
    font-family: "EffraBold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.08499996px;
    border-top: solid 1px #1e0a5b;
    border-bottom: solid 1px #1e0a5b;
}

.greybox-separated-title {
    font-family: "EffraBold";
    font-size: 31px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.17566659px;
}

.card-grey-background-text {
    color: #505050;
    font-family: "EffraRegular";
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.04766665px
}

.standard-border {
    border: solid 1px #1e0a5b;
}

.s-date-color {
    color: #B5C0CA;
}

.separated-right {
    border-right: solid 1px #B5C0CA;
}

.separated-text .right, .greybox-separated-text .right {
    border-right: solid 1px #1e0a5b;
}

.separated-text .left, .greybox-separated-text .left {
    border-left: solid 1px #1e0a5b;
}

.separated-text {
    border-top: solid 1px #1e0a5b;
    border-bottom: solid 1px #1e0a5b;
    color: #3f3f3f;
    font-family: "EffraBold";
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.06138886px;
}

.mt-25rem {
    margin-top: 2.5rem;
}

.categories-border {
    width: 231px;
    height: 55px;
    padding-left: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0px 2px 4px rgba(207,207,207,0.5);
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-black {
    background-color: #000 !important;
}

.eff-light {
    color: #2c2c2b;
    font-family: "EffraRegular";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.round-border {
    border: 2px solid #A68825;
    border-radius: 50%;
    padding: 2px;
    padding: 6px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.brand-font {
    color: #131313;
    font-family: "EffraBold";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.08500007px;
}

.w-26 {
    width: unset;
    height: 26px;
    padding: 5px;
}

.card-340 {
    min-height: 340px;
}

.text-white {
    color: white;
}

.title-line-right {
    color: #3f3f3f;
    font-family: "EffraMedium";
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.1250001px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #C4C4C4;
    line-height: 0.1em;
}

.w-74 {
    width: 74px;
}

.border-grey {
    border-color: #707070 !important;
}

.bg-black-brand {
    background-color: #202020;
}

.p-grey {
    background: #D8D8D8;
}

.bg-brand-section {
    background: #F4F1ED !important;
}

.bg-inside-brand {
    background: #E9E6E1 !important;
}

.body-margin-x {
    margin-left: 120px;
    margin-right: 120px;
}

.img-list-size {
    height: 240px;
}

.img-guides-size {
    height: 472px;
}

.card-list-size {
    width: 351px;
}

.card-list-2-size {
    width: 572px;
}

.card-list-3-size {
    width: 351px;
}

.testimonials-list-2-size {
    width: 621px;
}

.img-list-2-size {
    height: 421px;
}

.padding-bottom-inside {
    padding-bottom: 180px;
}

.footer-distance {
    margin-bottom: 180px;
}

.standard-bottom {
    margin-bottom: 50px;
}

.fz-15 {
    font-size: 15px;
}

.bg-brand-grey {
    background: #3F3F3F;
}

.grey-box-padding-60 {
    padding: 75px 60px 75px 60px;
}

.body-title-x {
    margin-bottom: 40px;
    margin-top: 40px;
}

.position-center-parent {
    position: relative;
}

.position-center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
}

.btn-secondary:hover {
    color: unset;
    background-color: unset;
    border-color: #A68825;
    box-shadow: unset;
}

.btn-secondary:focus {
    color: unset;
    background-color: unset;
    border-color: #A68825;
    box-shadow: unset;
}

.btn-secondary:active {
    color: unset;
    background-color: unset;
    border-color: #A68825;
    box-shadow: unset;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: unset;
    background-color: unset;
    border-color: #A68825;
    box-shadow: unset;
}

a:hover {
    text-decoration: none;
}

/*Header and navbar*/
.header {
    letter-spacing: -0.0961538px;
    clear: both;
    height: 75px;
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 1% 5% 0% 5%;
    font-family: "effraBold";
    z-index: 1;
}

    .header #logo {
        float: left;
        margin: 0;
    }

    .header #navlist {
        float: right;
    }

        .header #navlist li {
            display: inline;
            list-style-type: square;
            padding-right: 20px;
        }

            .header #navlist li a:link {
                color: #FFF;
                font-size: 17px;
                line-height: 75px;
                height: 75px;
            }

            .header #navlist li a {
                color: #FFF;
            }

        .header #navlist .active a {
            border-bottom: #FFFFFF 2px solid;
        }

.mobile-nav {
    display: none;
}

.desktop-nav {
    display: block;
}
/*mobile navbar */
.topnav {
    overflow: hidden;
    position: absolute;
    background: transparent;
    width: 100%;
}

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: black;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

        /* Style the hamburger menu */
        .topnav a.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

    .topnav .icon .fa-bars {
        font-size: 35px;
        font-weight: 100;
    }

/* Style the active link (or home/logo) */
.active {
    color: white;
}
/*end of mobile navbar*/

/* header buttons */

.button {
    background-color: #FFFF;
    border: none;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px 30px 30px 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 400;
}

.button-login {
    border: 2px solid #FFFF;
    color: #FFFF;
    background: transparent;
}

/*banner*/

.banner {
    min-height: 627px;
    background-image: url('./../images/banner.jpg');
}

    .banner .banner-items {
        text-align: -webkit-center;
    }

        .banner .banner-items h1 {
            color: #FFFFFF;
            font-size: 71px;
            font-weight: 400;
            font-family: "effraBold";
        }

        .banner .banner-items .search {
            background-color: #FFFFFF;
            border-radius: 50px 50px 50px 50px;
            height: 82px;
            width: fit-content;
            padding: 10px;
            font-family: "effraMedium";
        }

.button-search {
    border: 2px solid #A68825;
    color: #000;
    background: transparent;
    border-radius: 50px 50px 50px 50px;
    text-align: left;
    padding-top: 11px;
}

.button-location {
    width: 286px;
    height: 52px;
}

.button-bedrooms {
    width: 152px;
    height: 52px;
}

.button-submit-search {
    width: 152px;
    height: 52px;
    background-color: #A68825;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}
/*footer*/
.footer {
    min-height: 339px;
    padding-left: 14%;
    padding-right: 14%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
}

.footer {
    padding-top: 5%;
    font-family: "effraRegular";
}

.golden-text {
    color: #A68825 !important;
    font-family: "effraBold" !important;
}

.general-footer-info {
    margin-top: 3%;
}

.footer-logo {
    width: 165px;
    height: 56px;
    margin-top: 75px;
}

.footer-logo-mobile {
    display: none;
}

.social-icon {
    background: #FFFF;
    border-radius: 50%;
    width: 26px;
    padding-left: 6px;
    padding-top: 5px;
}

    .social-icon a {
        color: #000;
    }
/*homepage*/
.homepage-carousel {
    padding-left: 150px;
    padding-right: 150px;
}

@media screen and (max-width: 450px) {
    .homepage-carousel {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mobile-featured {
    display: none;
}

.desktop-featured {
    display: block;
}

.homepage h2 {
    color: #131313;
    font-family: "EffraMedium";
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.1250001px;
}

/*carousel*/
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}
/*cards*/
.card-img-overlay {
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.card-info {
    font-size: 13px;
    font-weight: 400;
    padding: 3px 5px 5px 5px;
}

.card-category {
    border-bottom: 2px #F6F6F6 solid;
    height: 35px;
}

    .card-category .help {
        background-color: #007D8A;
        height: 100%;
        padding-top: 0;
        min-width: 33.33%;
        font-size: 12px;
    }

    .card-category .shared {
        background-color: #8C4830;
        height: 100%;
        padding-top: 0;
        min-width: 33.33%;
        font-size: 12px;
    }

    .card-category .rent {
        background-color: #DADADA;
        height: 100%;
        padding-top: 0;
        min-width: 33.33%;
        font-size: 12px;
    }

.button-properties {
    font-family: "EffraMedium";
    border: 3px solid #886a36;
    color: #886a36;
    background: transparent;
    font-size: 17px;
    padding-top: 11px;
}

.view-button-place {
    min-height: 90px;
}

.card-spec {
    font-size: 14px;
    font-weight: 400;
}

.card-values {
    float: right;
}

.home-card-img {
    height: 235px;
}

/*search results page*/
.search-on .results-stats {
    font-size: 25px;
}

.advanced-options {
    margin: 5% 5% 5% 5%;
    background-color: burlywood;
    min-height: 10%;
}

    .advanced-options #accordion .card .card-header {
        border-bottom: 0;
        background-color: #F4F1ED;
    }

        .advanced-options #accordion .card .card-header h5 .btn {
            font-size: 24px;
            font-weight: 400;
            color: #000;
        }

    .advanced-options #accordion .card .collapse,
    .advanced-options #accordion .card .collapsing {
        background-color: #F4F1ED;
    }
/* Customize checkboxes for advanced search */

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 46px;
    margin-bottom: 30px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 13px;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: #FFFF;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #FFFF;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #FFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 15px;
    top: 11px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button-development {
    width: 273px;
    height: 52px;
}

/*BUYING GUIDES and COSTS PAGES*/

.buying-guides .results-stats {
    max-width: 1016px;
}

.buying-guides .intro-paragraph {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.more-optivo-title {
    color: #131313;
    font-family: "EffraBold";
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.2124999px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
    line-height: 0.1em;
}

    .more-optivo-title span {
        background: #fff;
        padding: 0 10px;
    }

.more-optivo-cards {
    font-family: "EffraBold";
}

    .more-optivo-cards .card .card-body .card-text {
        font-family: "EffraLight";
    }

.img-text-box {
    display: flex;
}
.costs-text-box{
    padding: 5rem 3rem 3rem 3rem;
}

/*END OF BUYING GUIDES PAGE*/

/*About Page */
.card-icon-value {
    color: #131313;
    font-family: "EffraMedium";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.08499998px;
}

.card-icon a {
    color: #A68825;
}
/* end of About Page */
/* FAQs page */
.faq-accordion .accordion .card {
}

    .faq-accordion .accordion .card .card-header {
        height: 48px;
        border: none;
        color: #886a36;
        font-family: "EffraMedium";
        font-size: 15px;
        font-weight: 400;
    }

.collapsed {
    color: #000;
}

.btn:focus {
    border: none;
}

.faq-accordion .accordion .card .card-body {
    background-color: #E9E6E1;
}

.btn {
    border: none;
}

.btn-link:hover {
    color: #A68825;
    text-decoration: none !important;
}

.btn-link:focus {
    color: #A68825;
    text-decoration: none !important;
}
/* end of FAQs page */
/*Login and Registration pages*/
.login-accordion .btn {
    border: none !important;
    border-radius: unset;
    background-color: #F4F1ED;
}

.login-accordion .card {
    border: none !important;
    border-radius: unset;
    background-color: #F4F1ED;
}

.login-accordion .card-header {
    border-bottom: unset;
}

.login-accordion {
    width: 695px;
}

    .login-accordion .form-control {
        height: 50px;
        border-radius: 9px;
        border: none;
    }

    .login-accordion .login-form {
        margin: 1px 111px 37px 111px;
    }

    .login-accordion .registration-form {
        margin: 1px 30px 37px 30px;
    }

    .login-accordion .forgot {
        color: #353535;
        font-family: "Effra-Light";
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        text-decoration: underline;
        letter-spacing: -0.08499996px;
        width: fit-content;
    }

    .login-accordion .forgot-parent {
        justify-content: flex-end;
    }

.login-acc-bg {
    background: #886A36 !important;
    background-color: #886A36 !important;
}
/*end of Login and Registration pages*/
/*Gallery*/
.full-image img {
    width: 100%;
    height: 627px;
}

.img-next {
    width: 310px;
    height: 222px;
}

.dot-active {
    background-color: #A68825 !important;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: #D7D7D7;
    display: inline-block;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next, .prev {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    padding-right: 45px;
    background: url('../Images/arrow-left-white.svg') no-repeat;
}

.next {
    background: url('../Images/arrow-right-white.svg') no-repeat;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }
/*End of Gallery*/
/*Dashboard*/
.dash-banner {
    background: #886A36;
    padding-top: 67px;
    padding-bottom: 67px;
    padding-left: 67px;
}

.dash-title {
    color: #ffffff;
    font-family: "EffraBold";
    font-size: 40px;
    font-weight: 400;
}

.dash-margin-x {
    margin-left: 48px;
    margin-right: 48px;
}

.dashboard-li {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 2px solid #4C4C4C;
    margin-bottom: 5px;
    padding-left: 22px;
}
.dash-nav-list .current {
    padding-left: 0px !important;
}

.dash-line-title {
    color: #3f3f3f;
    font-family: "EffraBold";
    font-size: 31px;
    font-weight: 400;
    letter-spacing: -0.14638881px;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 14px solid #886A36;
    border-bottom: 14px solid transparent;
}

.dashboard-item {
    padding-top: 2px;
}

.dashboard-details {
    background-color: #E9E6E1;
}

.bg-dash {
    background-color: #E9E6E1;
}

.dash-nav-list {
    min-height: 643px;
    outline: 2px solid #886A36;
    outline-offset: -8px;
}

.download-brochures {
    height: 434px;
    padding: 91px 10px 91px 10px;
}

.register-brochures {
    height: 434px;
    padding: 92px 120px 92px 120px;
}
/*end of Dashboard*/
/*Calendar*/
.cur-month {
    color: #131313;
    font-family: "EffraBold";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1416666px;
}

.calendar-table td {
    border: 1px solid black;
    text-align: center;
    width: 65.4px;
}

.calendar-table table {
    border-collapse: collapse;
    width: 491px;
    height: 327px;
}

.w-501px {
    width: 501px;
}

.w-565px {
    width: 565px;
}

.bg-calendar {
    background: #F4F4F4;
    background-color: #F4F4F4;
}

.calendar-list {
    padding-right: 69px;
    padding-top: 52px;
    padding-bottom: 52px;
}

.calendar-status {
    padding-left: 42px;
    padding-top: 52px;
    padding-bottom: 52px;
}

    .calendar-status .cal-title {
        color: #a68825;
        font-family: "EffraBold";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.08499996px;
    }

    .calendar-status .selected-date-value {
        color: #ffffff;
        font-family: "EffraRegular";
        font-size: 41px;
        font-weight: 400;
        letter-spacing: -0.19361103px;
    }
/*external calendar*/
/* Date Picker */
.datepicker-wrapper {
    width: 100%;
    height: 100%;
    background: blue;
    color: #fff;
    font-size: 24px;
}

.calendars .ui-datepicker {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    background: #fff;
    border-radius: 0;
    z-index: 50 !important;
    width: 100% !important;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.calendars .ui-datepicker-multi-6 .ui-datepicker-group {
    margin-right: 8%;
    margin-bottom: 30px;
}

    .calendars .ui-datepicker-multi-6 .ui-datepicker-group:nth-child(3n) {
        margin-right: 0;
    }

.ui-datepicker .ui-widget-header {
    font-weight: 400;
    color: #006f9d;
    background: #F4F4F4;
    border: none;
    border-radius: 0;
    width: 491px;
}

    .ui-datepicker .ui-widget-header .ui-icon {
        text-indent: 0;
        width: 22px;
        height: 24px;
        background-image: none;
    }

.ui-datepicker .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: 400;
    color: #000;
    text-align: center;
    background: none;
    border: none;
    border-radius: 0;
}

.ui-datepicker .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    background: #ebf7f9;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    color: transparent;
    font-size: 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: #fff;
    background: none;
}

.ui-datepicker .ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: #fff;
    background: #3cafc2;
}

.ui-datepicker .ui-widget-header .ui-state-hover {
    background: none;
    border: none;
    border-radius: 0;
    margin: 0 1px 0 1px;
}

.event-calendar .ui-datepicker .ui-widget-header .ui-datepicker-prev,
.event-calendar .ui-datepicker .ui-widget-header .ui-datepicker-next {
    display: block;
    font-family: FontAwesome;
    font-size: 22px;
    height: 20px;
    top: 50%;
    margin-top: -17px;
}

.event-calendar .ui-datepicker .ui-widget-header .ui-icon {
    font-family: FontAwesome;
}

.event-calendar .ui-widget-content {
    background: none;
    background-color: #F4F4F4;
    float: left;
}

.event-calendar .ui-datepicker .ui-datepicker-title {
    color: #131313;
    font-family: "EffraBold";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.1416666px;
    text-align: left;
    margin: 0;
    background-color: #F4F4F4;
}

.event-calendar .ui-widget-content {
    border: 1px solid transparent;
}

.event-calendar .ui-datepicker .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #f7f7f7;
    border: none;
    color: #886a36;
    font-family: "EffraBold";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.08499996px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.ui-datepicker-current-day {
    background: #886a36;
}

.ui-datepicker td span, .ui-datepicker td a {
    font-family: "EffraBold";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.08499996px;
    padding: 0;
}

.event-calendar .ui-datepicker-calendar thead th {
    position: relative;
}

    .event-calendar .ui-datepicker-calendar thead th span {
        color: #886a36;
        font-family: "EffraBold";
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        letter-spacing: -0.0472222px;
        padding-bottom: -5px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

.calendars .panel-heading.active:after, .content-page .panel-heading.active:after {
    content: "\f077";
}

.event-calendar .ui-state-active {
    color: #fff !important;
    background-color: #886A36 !important;
    border-radius: 0;
}

.event-calendar .ui-datepicker-calendar td {
    border: 1px solid #E6E6E6;
    text-align: center;
    width: 65.4px;
    height: 65.4px;
    position: relative;
}

.event-calendar table {
    width: 491px;
}

.ui-datepicker .ui-datepicker-next {
    right: 0px;
}

.ui-datepicker .ui-datepicker-prev {
    right: 30px;
    left: unset;
}

.ui-datepicker-next span {
    background-image: url('./../images/arrow-right.svg') !important;
    background-position: 0px 0px !important;
}

.ui-datepicker-prev span {
    background-image: url('./../images/arrow-left.svg') !important;
    background-position: 0px 0px !important;
}
/* End of Date Picker */
/*end of external calendar*/
/*End of Calendar*/

/*fixes*/
.button:focus {
    outline: unset;
}

.b-white {
    border: 3px solid white;
}

.background-line {
    margin-top: 30px;
    text-align: center;
    color: #131313;
    font-family: "EffraBold";
    font-size: 45px;
    font-weight: 400;
    width: 100%;
}

h2.background-line {
    position: relative;
    z-index: 1;
}

    h2.background-line:before {
        border-top: 1px solid #C4C4C4;
        content: "";
        margin: 0 auto;
        /* this centers the line to the full width specified */
        position: absolute;
        /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    h2.background-line span {
        /* to hide the lines from behind the text, you have to set the background color the same as the container */
        background: #fff;
        padding: 0 15px;
    }


/*fix accordion*/
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #E4DFD8;
    border-color: #E4DFD8;
}

.accordion .btn-primary {
    color: #000;
    background-color: #E4DFD8;
}

    .accordion .btn-primary:focus {
        box-shadow: unset;
        color: #000;
    }

.accordion .btn:active {
    box-shadow: unset;
    color: #000;
    background-color: #E4DFD8;
}

.mt-n2 {
    margin-top: -3px;
}

.news-cat {
    font-family: "EffraMedium";
    font-size: 17px;
    padding-top: 5px;
}

.card-min {
    min-height: 165px;
}

.b-g-text {
    color: #131313;
    font-family: "EffraLight";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.08499996px;
}

/*table fixes*/

.table-bordered td, .table-bordered th {
    border: 10px solid #F4F1ED;
}

.table td, .table th {
    padding: unset;
}

.text-grey {
    color: #707070 !important;
    font-family: "EffraBold";
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.plots-list {
    padding: 0 120px 0 120px;
}
/*tabs*/

.tabs .card-header {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.tabs .btn-primary {
    background: #E4DFD8 !important;
}

.tabs .bg-brand-section {
    background: #E4DFD8 !important;
}

.tabs .current .btn-primary {
    background: #F4F1ED !important;
}

.tabs .current {
    background: #F4F1ED !important;
}

.tab {
    display: none;
}

    .tab.current {
        display: inherit;
    }

.plot-h {
    color: #414141;
    font-family: "EffraMedium";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.07555552px;
}

.button-drop {
    border: 2px solid #A68825 !important;
    border-radius: 50px 50px 50px 50px;
    margin: 3px 10px 10px 15px;
}

    .button-drop .select-selected {
        background: transparent;
        border: none;
        margin-top: 9px;
        padding: 3px 13px 6px 0px;
    }

        .button-drop .select-selected:after {
            position: absolute;
            content: "";
            top: 20px;
            right: 25px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #886A36 transparent transparent transparent;
        }

.a-search-drop {
    min-height: 55px;
    background-color: white;
    border: none !important;
    width: 273px;
    margin: 3px 10px 10px 0px;
}

    .a-search-drop .select-selected:after {
        top: 25px;
    }

    .a-search-drop .select-selected {
        padding: 14px 29px 0px 27px;
    }

.icon-svg {
    width: 28px;
    padding: 4px;
    background: white;
    border-radius: 50%;
}

#mapid {
    height: 500px;
}

.modal-plots-dialog {
    max-width: 90%;
}

.modal-plots-content {
    background-color: rgba(0,0,0,.6);
}

    .modal-plots-content .modal-header {
        color: #fff;
        border-bottom: unset;
    }

        .modal-plots-content .modal-header button {
            color: #fff;
        }

.a-search-title {
    color: #131313 !important;
    font-family: "EffraMedium" !important;
    font-size: 25px !important;
    font-weight: 400 !important;
    letter-spacing: -0.1250001px !important;
}

.sort {
    background-color: #e9e6e1 !important;
}

.listings-search .mb-3 {
    margin-bottom: 1.5rem !important;
}

.disabled-date a {
    color: #959595 !important;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.disabled-date .ui-state-active {
    color: #959595 !important;
    background-color: transparent !important;
    border-radius: 0;
}

.ui-state-active {
    height: 100%;
    padding-top: 37px !important;
}

.dropdown-new {
    border-radius: 25px 25px 25px 25px;
    height: 51px;
    border: 2px solid #A68825;
    padding: 0 10px 0 10px;
    margin-top: 5px;
}

.dropdown-new-in {
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    width: 100%;
    outline: unset;
    border: unset;
}

select:focus {
    outline: unset;
}

.slots-select select {
    padding-right: 30px;
}

.shared {
    background-color: #8C4830;
}

.private {
    background-color: #007D8A !important;
}

.rent {
    background-color: #dadada;
    color: #505050 !important;
}

.sale {
    background-color: #935C2D;
}

select {
    padding: 11px 0px 4px 0px;
}

.w-152px {
    width: 152px;
}

.w-588px {
    width: 588px;
}

.min-h-321px {
    min-height: 321px;
}

.card-t {
    height: 131px;
    position: relative;
}

.card-butt {
    position: absolute;
    bottom: 0;
    height: 55px;
    margin-bottom: 17px;
}

/*Pagination*/

.box {
    float: left;
    padding: 50px 0px;
}

.clearfix::after {
    clear: both;
    display: table;
}

.options {
    margin: 5px 0px 0px 0px;
    float: left;
}

.pagination {
    float: right;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
.intro-text {
    color: #131313;
    font-family: "EffraLight";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.cost-text {
    font-size: 21px;
    padding: 10px 27px 41px 60px;
}

.contact-icon {
    margin-bottom: 4px;
    width: 15px;
}

.centralization {
    padding-top: 6px;
}
.home-f-title {
    color: #131313;
    font-family: "EffraMedium";
    font-size: 25px;
    font-weight: 400 !important;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.1250001px;
}

.home-f-x {
    margin-bottom: 18px;
}

/*Progress bar*/

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

    .progress-container::before {
        content: '';
        background-color: var(--line-border-empty);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        z-index: -1;
    }

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

    .circle.active {
        border-color: var(--line-border-fill);
    }

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

    .btn:active {
        transform: scale(0.98);
    }

    .btn:focus {
        outline: 0;
    }

    .btn:disabled {
        background-color: var(--line-border-empty);
        cursor: not-allowed;
    }

    /*pagination*/

.pg-selected .page-link {
    background-color: white !important;
    color: black !important;
    border: 2px solid #dee2e6 !important;
}

.pager-nav {
    list-style-type: none;
}

.dropdown-form {
    border-radius: 12px 12px 12px 12px;
    height: 51px;
    padding: 0 10px 0 10px;
    margin-top: 5px;
}
.mh-188 {
    min-height: 188px;
}

.text-f {
    color: #505050 !important;
}
.card-ts {
    color: #6C552D !important;
    font-family: "effraBold" !important;
}
.w-125 {
    width: 125px;
}
.testimonials-text-box {
    padding: 0rem 3rem 0rem 3rem;
}

.forming-l {
    padding-top: 17px;
    color: black;
    font-family: "EffraMedium";
    font-size: 14px;
    font-weight: 400;
}

#riskfloater {
    background-color: green;
    left: 10px;
    position: fixed;
    padding: 8px 16px;
    background: green;
    color: #ffffff;
    cursor: pointer;
    bottom: 10px;
    z-index: 2;
    // -moz-border-radius: 3px;
    // -webkit-border-radius: 3px;
    // border-radius: 3px; 
}

#cookiebar { 
    position: fixed;
    bottom: 0;
    left: 5px;
    right: 5px;
    display: none;
    z-index: 200;
    .container {
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: green;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        a{
            color: white;
            text-decoration: none;
            border-bottom: 1px dotted white;
        }
    }
}

#cookiebarBox { 
    position: fixed;
    bottom: 0;
    left: 5px;
    right: 5px;
    // display: none;
    z-index: 200;
}
.container-cookie {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: green;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.cookieok {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #e8f0f3;
    color: #186782 !important;
    font-weight: 600;
    // float: right;
    line-height: 2.5em;
    height: 2.5em;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-width: 0 !important;
    cursor: pointer;
    max-width: 200px;
    margin: 0 auto;
    
}

/*Mobile*/

/* Extra Small Screen Devices */

/* @media Portrait */
@media screen and (max-width: 469px) {
    .button-submit-search{
        margin-left: unset !important;
    }
    .w-152px{
        width: 100% !important;
        background: white;
    }
    .w-206px {
        width: 100% !important;
        background: white;
    }
    .mobile-nav {
        display: block;
        z-index: 1;
    }
    .button-login {
        margin: 13px 10px 19px 12px;
    }
    .button-logout {
        margin: 10px 10px 17px 10px;
    }

    .carousel-control-next, .carousel-control-prev {
        position: unset !important;
        display: unset !important;
    }

    .carousel-control-prev {
        margin-right: 37%;
        margin-left: 107px;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav .icon {
        height: 100%;
    }

    .mobile-nav .logo img {
        width: 178px;
        height: 60px;
    }
    /*just on mobile*/
    .banner {
        min-height: 427px;
    }

    .banner-search {
        min-height: 100vh;
    }

    .banner .banner-items h1 {
        font-size: 25px;
    }

    .banner .banner-items .search {
        display:block !important;
        border-radius: 3px;
        width: fit-content;
        padding: 10px;
        height: unset;
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba( 255, 255, 255, 0.6 );
    }

    .button-location, .button-bedrooms {
        background: #FFFF;
        width: 100%;
    }

    .button-location, .button-bedrooms, .button-submit-search {
        width: 100%;
        margin: 18px 0px 12px 0px !important;
    }

    .banner-items .search .btn-group {
        width: 100%;
    }

    .footer-logo {
        display: none;
    }

    .footer-logo-mobile {
        display: block;
        width: 165px;
        height: 56px;
    }

    .properties-footer {
        display: none;
    }

    .informations-footer {
        display: none;
    }

    .contact-footer .row {
        justify-content: center;
    }

    .general-footer-info .row {
        justify-content: center;
    }
    /*general*/
    .intro-paragraph {
        padding-left: 25px;
        padding-right: 25px;
    }

    .card-list-2-size {
        width: unset;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .grey-box-padding-60 {
        padding: 40px;
        padding-left: 0;
        padding-right: 0;
    }

        .grey-box-padding-60 video {
            height: 200px;
        }

    .body-margin-x {
        margin-left: 5px;
        margin-right: 5px;
    }

    .button-search {
        border: 2px solid #A68825;
    }

    .on-desktop {
        display: none;
    }

    .on-mobile {
        display: flex;
    }
    /*end of general*/
    /*homepage*/
    .homepage h2 {
        font-weight: 400;
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .search {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .results-stats .showing {
        display: none;
    }
    /*end of homepage*/
    /*More from optivo buying costs page*/
    .more-optivo-cards {
        display: block !important;
    }

    .img-text-box {
        display: block;
    }

        .img-text-box img {
            max-width: 100%;
            padding: 0 0 30px 0;
            margin-top: -40px;
            margin-right: 0 !important;
        }

    .costs-text-box {
        margin-bottom: -10px;
        margin-left: 30px;
        margin-right: 30px;
        width: unset;
    }

    .btn-link:hover {
        color: #A68825;
        text-decoration: none !important;
    }

    .more-optivo-title {
        font-size: 30px;
    }
    /*end of more from optivo buying costs page*/
    /*faqs*/
    .faq-accordion .accordion .card .card-body {
        text-align: center;
    }
    /* end of faqs*/
    /*contact*/
    .contact-rows {
        display: block !important;
    }
    /* end of contact*/
    /*end just on mobile*/
}
/* @media Landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
}