﻿
@using Kentico.Membership.Web.Mvc
@using Kentico.Content.Web.Mvc
@using DancingGoat.Models.Widgets

<!DOCTYPE html>

<html>
<head id="head">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    @Html.Kentico().PageDescription()
    @Html.Kentico().PageKeywords()
    @Html.Kentico().PageTitle(ViewBag.Title as string)
    <link rel="icon" href="~/content/images/favicon.png" type="image/png" />
    <link href="~/Content/Styles/Site.css" rel="stylesheet" type="text/css" />
    
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/media-sm.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/bootstrap-4.0.0.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/SiteOptivo.css" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="@Url.Kentico().PageCanonicalUrl()" />
    @RenderSection("styles", required: false)
    @Html.Kentico().ABTestLoggerScript()
    @Html.Kentico().ActivityLoggingScript()
    @Html.Kentico().WebAnalyticsLoggingScript()
</head>
<body>
    <div class="page-wrap">
        @Html.Action("Index", "Consent")
        <!--OptivoMenu-->
        <div class="mobile-nav topnav">
            <a href="/home" class="logo active">
                <img id="logo" src="~/Content/Images/Header.svg">
            </a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                @Html.Action("Menu", "Navigation")
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="navbarMobile()">
                <i class="fa fa-bars mt-2"></i>
            </a>
        </div>
        <!--end of mobile navbar-->
        <div class="desktop-nav header">
            <a href="/home" class="logo active">
                <img id="logo" src="~/Content/Images/Header.svg">
            </a>
            <nav role="navigation">
                <ul id="navlist" class="mt-2 d-flex">
                    @Html.Action("Menu", "Navigation")

                </ul>
            </nav>
        </div>
        <script>
            var path = window.location.pathname;
            var dir = path.substring(path.indexOf('/') + 1, path.length);
            if (dir == "blogs" || dir == "testimonial") {
                var x = document.getElementById("Desktop-Nav");
                x.classList.add("nav-black")
            }
        </script>
        <div>
            @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <div id="cookiebarBox" class="os-animation" data-os-animation="fadeIn">
        <div class="container-cookie risk-dismiss" style="display: block;">
            <p>Like most websites, this site uses cookies to assist with navigation and your ability to provide feedback, analyse your use of products and services so that we can improve them, assist with our personal promotional and marketing efforts and provide consent from third parties.</p>
            <a id="cookieBoxok" class="cookieok" data-cookie="risk">OK</a>
        </div>
    </div>
    <script>
        // if you want to see a cookie, delete 'seen-cookiePopup' from cookies first.

jQuery(document).ready(function($) {
   // Get CookieBox
  var cookieBox = document.getElementById('cookiebarBox');
	// Get the <span> element that closes the cookiebox
  var closeCookieBox = document.getElementById("cookieBoxok");
    closeCookieBox.onclick = function() {
        cookieBox.style.display = "none";
    };
});

(function () {
    function createCookie(name, value, days, path) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else expires = "";
        document.cookie = name + "=" + value + expires + "; path=" + path;
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    // Set/update cookie
    var cookieExpiry = 30;
    var cookiePath = "/";

    document.getElementById("cookieBoxok").addEventListener('click', function () {
        createCookie('seen-cookiePopup', 'yes', cookieExpiry, cookiePath);
    });

    var cookiePopup = readCookie('seen-cookiePopup');
    if (cookiePopup != null && cookiePopup == 'yes') {
        cookiebarBox.style.display = 'none';
    } else {
        cookiebarBox.style.display = 'block';
    }
})();
    </script>

    <div class="footer">
        <div class="row">
            <div class="col-lg-3 col-sm-12 footer-item contact-footer">
                <div class="row">
                    <img id="logo" class="footer-logo-mobile"
                         src="./images/Header.svg">
                </div>
                <div class="row">
                    <div class="golden-text mb-2">@ResHelper.GetString("DancingGoatMvc.Contact.Title")</div>
                </div>
                @Html.Action("CompanyAddress", "Company")
            </div>
            @Html.Action("Footer", "Navigation")
            <div class="col-lg-3 col-sm-12 footer-item general-footer-info">
                <div class="row d-flex mb-5">
                    @Html.Action("CompanySocialLinks", "Company")
                </div>
                @Html.Action("CompanyInfo", "Company")
                <div class="row">
                    <div class="info-text">&copy; @DateTime.Now.Year Optivo. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobtrusive-ajax")
    @Scripts.Render("~/bundles/jquery-validation")
    @Scripts.Render("~/Scripts/responsiveMenuDropdown.js")
    @Scripts.Render("~/Scripts/bootstrap-4.0.0.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/optivo.js")
    @Scripts.Render("~/Scripts/mobileMenu.js")
    @Scripts.Render("~/Scripts/gallery.js")
    @Scripts.Render("~/Scripts/popper-4.0.0.min.js")
    @Scripts.Render("~/Scripts/calendar.js")



    @RenderSection("scripts", required: false)

</body>
</html>
