﻿@model DancingGoat.Models.BuyingGuides.BuyingGuidesViewModel

@{
    bool DisplayInRight(int sequenceOrder)
    {
        return sequenceOrder % 2 != 0;
    }
}

@{
    var i = 0;
}
@foreach (var buyingSection in Model.Sections)
{
    <div class="banner position-center-parent" style="background-image: url(@buyingSection.ImagePath);">
        <div class="banner-items position-center-child">
            <h1 class="d-flex justify-content-center mb-4">@buyingSection.Heading</h1>
        </div>
    </div>
    <!--end of navbar and header items-->
    <div class="buying-guides footer-distance">
        <div class="intro-paragraph fz-15">
            <div class="results-stats d-flex justify-content-center intro-text">
                <p>
                    @Html.Raw(buyingSection.Text)
                </p>
            </div>
        </div>
        <div class="guides-list body-margin-x d-flex row justify-content-center">
            @foreach (var page in Model.EducationalsSections)
            {
                <div class="card bg-brand-section card-list-size p-0 mx-3 mb-4">
                    <img src="@page.BackgroundImagePath" alt="@page.Heading" title="@page.Heading" class="card-img-top img-list-size " />
                    <div class="card-body text-center">
                        <h5 class="card-title">@page.Heading</h5>
                        <p class="card-text fz-15 b-g-text">
                            @Html.Raw(page.Text)
                        </p>
                        <button class="col-8 button button-login button-properties" onclick="window.location.href = '/@page.MoreButtonUrl'">@page.MoreButtonText</button>
                    </div>
                </div>
            }
            @foreach (var page1 in Model.FaqSections)
            {
                <div class="card bg-brand-section card-list-size p-0 mx-3 mb-4">
                    <img src="@page1.BackgroundImagePath" alt="@page1.Heading" title="@page1.Heading" class="card-img-top img-list-size " />
                    <div class="card-body text-center">
                        <h5 class="card-title">@page1.Heading</h5>
                        <p class="card-text fz-15 b-g-text">
                            @Html.Raw(page1.Text)
                        </p>
                        <button class="col-8 button button-login button-properties cp" onclick="window.location.href='/@page1.MoreButtonUrl'">@page1.MoreButtonText</button>
                    </div>
                </div>
            }
        </div>
    </div>
}
