﻿@model DancingGoat.Models.About.AboutUsViewModel

@{
    bool DisplayInRight(int sequenceOrder)
    {
        return sequenceOrder % 2 != 0;
    }
}

@{
    var i = 0;
}
@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
@foreach (var aboutSection in Model.Sections)
{
<div class="banner position-center-parent" style="background-image: url('@Url.Content(@aboutSection.ImagePath)');">
    <div class="banner-items position-center-child">
        <h1 class="d-flex justify-content-center mb-4">@aboutSection.Heading</h1>
    </div>
</div>
    <!--end of navbar and header items-->
    <div class="buying-guides standard-bottom">
        <div class="intro-paragraph fz-15">
            <div class="results-stats justify-content-center intro-text">
                <p>
                    @Html.Raw(aboutSection.Text)
                </p>
            </div>
        </div>
        <!--Images 2 List widget-->
        <!--end Images 2 List widget-->
        @*
            @Html.Action("MeetTheTeam", "MeetTheTeam")
            @Html.Action("MoreFromOptivo", "MoreFromOptivo")*@
    </div>
    i++;
}
@Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
@*@{ Html.RenderAction("Gallery", "Media"); }*@
