﻿@using DancingGoat.Controllers.Widgets

@model DancingGoat.Models.Home.IndexViewModel

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
@foreach (var homeSection in Model.HomeSections)
{
    <div class="banner position-center-parent banner-search" style="background-image: url('@Url.Content(homeSection.BackgroundImagePath)');">
        <div class="banner-items position-center-child">
            <h1 class="d-flex justify-content-center mb-4">@homeSection.Heading</h1>
            <div class="d-flex row search justify-content-center">
                <div class="my-auto mx-3 centralization">Location</div>
                <div class="w-206px dropdown-new">
                    <select id="locality-dropdown" name="locality" onclick="filter()" class="dropdown-new-in"></select>
                </div>
                <div class="my-auto mx-3 centralization">Min. Bedrooms</div>
                @*<div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle button button-search button-bedrooms" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select
            </button>
            <div class="dropdown-menu">
                ...
            </div>
        </div>*@
                @*<div class="header__language--dropdown w-206px button-drop">
            <select class="elem">
                <option value="" disabled selected>Select</option>
                <option value="https://flir.custhelp.com">11 pm</option>
                <option value="https://flir-de.custhelp.com">12 am</option>
                <option value="https://flir-fr.custhelp.com">8 am</option>
                <option value="https://flir-it.custhelp.com">2 pm</option>
            </select>
        </div>*@
                <div class="w-152px dropdown-new">
                    <select id="bedrooms" name="min-bedrooms" class="dropdown-new-in">
                        <option value="" disabled selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button type="button" class="btn-warning button button-search mx-3 button-submit-search" onclick="window.location.href='/search'">Search</button>
            </div>
        </div>
    </div>
}


<!--homepage Optivo-->
<div class="homepage">
    <div>
        <div class="mb-4">
        </div>
    </div>
</div>
<!--end of home oPtivo-->
@*@Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })*@

@Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
@Html.Kentico().EditableArea("area2", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
@Html.Kentico().EditableArea("area3", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

@*@Html.Kentico().EditableArea(
        "area2",
        new EditableAreaOptions
        {
            DefaultSectionIdentifier = ComponentIdentifiers.TWO_COLUMN_SECTION,
            AllowedSections = AllowedComponents.NONE,
            AllowedWidgets = new[] { SystemComponentIdentifiers.RICH_TEXT_WIDGET_IDENTIFIER }
        }
    )*@


@*@helper MoreButton(string text, string url)
    {
        if (!String.IsNullOrEmpty(url) && (!String.IsNullOrEmpty(text)))
        {
            <div class="row">
                <div class="clear center-text">
                    <a href="@url" class="btn btn-more">
                        @text
                    </a>
                </div>
            </div>
        }
    }

    @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

    @foreach (var homeSection in Model.HomeSections)
    {
        <div class="row">
            <h1 class="title-tab">@homeSection.Heading</h1>
            <div class="col-sm-12">
                <div class="ourstory-section center-text" style="background-image: url('@Url.Content(homeSection.BackgroundImagePath)');">
                    @Html.Raw(homeSection.Text)
                </div>
            </div>
        </div>

        @MoreButton(homeSection.MoreButtonText, homeSection.MoreButtonUrl)
    }

    @Html.Kentico().EditableArea(
        "area2",
        new EditableAreaOptions
        {
            DefaultSectionIdentifier = ComponentIdentifiers.TWO_COLUMN_SECTION,
            AllowedSections = AllowedComponents.NONE,
            AllowedWidgets = new[] { SystemComponentIdentifiers.RICH_TEXT_WIDGET_IDENTIFIER }
        }
    )

    @if (Model.Reference != null)
    {
        Html.RenderPartial("_Reference", Model.Reference);
    }

    <div class="row cafe-cards">
        @Html.Kentico().EditableArea(
            "area3",
            new EditableAreaOptions
            {
                DefaultSectionIdentifier = ComponentIdentifiers.THREE_COLUMN_SECTION,
                AllowedSections = new[] { ComponentIdentifiers.SINGLE_COLUMN_SECTION, ComponentIdentifiers.THREE_COLUMN_SECTION },
                AllowedWidgets = new[] { CafeCardWidgetController.IDENTIFIER, ComponentIdentifiers.CTA_BUTTON_WIDGET }
            }
        )
    </div>*@
<script>
    var obj = {
        link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/get-developments',
        object: {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
            }
        }
    }
    let dropdown = document.getElementById('locality-dropdown');

    dropdown.length = 0;

    let defaultOption = document.createElement('option');
    defaultOption.text = 'Select';

    dropdown.add(defaultOption);
    dropdown.selectedIndex = 0;

    fetch(obj.link, obj.object)
        .then((response) => {
            return response.json()
        })
        .then((countries) => {
            let option;
            for (let i = 0; i < countries.length; i++) {
                option = document.createElement('option');
                if (countries[i].town != null) {
                    option.text = countries[i].localAuthority;
                    option.value = countries[i].localAuthorityId;

                    dropdown.add(option);
                }
            }
        })
</script>