/* Medium Screen Devices */ 
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.mobile-nav{
        display: block;
        z-index: 1;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav .icon {
        height: 100%;
    }
    .mobile-nav .logo img {
        width: 178px;
        height: 60px;
    }
}
@media screen and (min-width: 1199px) and (max-width: 1250px) {
	.mobile-nav{
        display: block;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav .icon {
        height: 100%;
    }
    .mobile-nav .logo img {
        width: 178px;
        height: 60px;
    }
}