/* Extra Small Screen Devices */

/* @media Portrait */
@media screen and (max-width: 469px) {
    .mobile-nav{
        display: block;
        z-index: 1;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-featured{
        display: block;
    }
    .desktop-featured{
        display: none;
    }
    .mobile-nav .icon {
        height: 100%;
    }
    .mobile-nav .logo img {
        width: 178px;
        height: 60px;
    }
    /*just on mobile*/
    .banner{
        min-height: 427px;
    }
    .banner-search {
        min-height: 100vh;
    }
    .banner .banner-items h1 {
        font-size: 25px;
    }
    .banner .banner-items .search {
        border-radius: 3px;
        width: fit-content;
        padding: 10px;
        height: unset;
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba( 255, 255, 255, 0.6 );
    }
    .button-location, .button-bedrooms {
        background: #FFFF;
        width: 100%;
    }
    .button-location, .button-bedrooms, .button-submit-search  {
        width: 100%;
        margin: 3px 10px 10px 10px !important;
    }
    .banner-items .search .btn-group {
        width: 100%;
    }
    .footer-logo {
        display: none;
    }
    .footer-logo-mobile{
        display: block;
        width: 165px;
        height: 56px;
    }
    .properties-footer{
        display: none;
    }
    .informations-footer{
        display: none;
    }
    .contact-footer .row{
        justify-content: center;
    }
    .general-footer-info .row{
        justify-content: center;
    }
    /*general*/
    .intro-paragraph{
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-list-2-size {
        width: unset;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .grey-box-padding-60 {
        padding: 40px;
    padding-left: 0;
    padding-right: 0;
    }
    .grey-box-padding-60 video {
       height: 200px;
    }
    .body-margin-x{
        margin-left: 5px;
        margin-right: 5px;
    }
    .button-search {
        border: 2px solid #A68825;
    }
    .on-desktop {
        display: none;
    }
    .on-mobile{
        display: flex;
    }
    .card-list-3-size{
        width: unset;
    }
    /*end of general*/
    /*homepage*/
    .homepage h2 {
        font-weight: 400;
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .search {
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important;
    }
    .results-stats .showing {
        display: none;
    }
    /*end of homepage*/
    /*More from optivo buying costs page*/
    .more-optivo-cards{
        display: block !important;
    }
    .img-text-box {
        display: block;
    }
    .img-text-box img {
        max-width: 100%;
        padding: 0 0 30px 0;
        margin-top: -40px;
        margin-right: 0 !important;
    }
    .costs-text-box {
        margin-bottom: -10px;
        margin-left: 30px;
        margin-right: 30px;
        width: unset;
    }
    .btn-link:hover {
        color: #A68825;
        text-decoration: none !important;
    }
    .more-optivo-title {
        font-size: 30px;
    }
    /*end of more from optivo buying costs page*/
    /*faqs*/
    .faq-accordion .accordion .card .card-body {
        text-align: center;
     }
    /* end of faqs*/
    /*contact*/
    .contact-rows {
        display: block !important;
     }
    /* end of contact*/
    /*end just on mobile*/
}
/* @media Landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
   
}