/* Small Screen Devices */
@media screen and (min-width: 470px) and (max-width: 991px) {
    .mobile-nav{
        display: block;
        z-index: 1;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav .icon {
        height: 100%;
    }
    .mobile-nav .logo img {
        width: 178px;
        height: 60px;
    }
     /*just on mobile*/
     .banner{
        min-height: 100vh;
    }
    .banner .banner-items h1 {
        font-size: 30px;
    }
    .banner .banner-items .search {
        border-radius: 3px;
        width: fit-content;
        padding: 10px;
        height: unset;
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba( 255, 255, 255, 0.7 );
    }
    .button-location, .button-bedrooms {
        background: #FFFF;
        width: 100%;
    }
    .button-location, .button-bedrooms, .button-submit-search  {
        width: 100%;
        margin: 10px 10px 10px 10px !important;
    }
    .banner-items .search .btn-group {
        width: 100%;
    }
    .footer-logo {
        margin-top: unset;
    }
    /*end just on mobile*/
}