﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ListingSelector.ascx.cs" Inherits="CMSApp.CMSFormControls.ListingSelector" %>
<asp:DropDownList ID="drpColor" runat="server"></asp:DropDownList>