﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PlotsSelector.ascx.cs" Inherits="CMSApp.CMSFormControls.PlotsSelector" %>
<asp:DropDownList ID="drpColor1" runat="server"></asp:DropDownList>