﻿@model DancingGoat.Models.PageTemplates.BlogViewModel
@{
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
@*<div class="col-lg-12 article-detail-related-box article-detail-full-width">
        <div class="row equal-height">
            @if (!string.IsNullOrEmpty(Model.TeaserPath))
            {
                <div class="article-detail-image col-lg-6 col-md-6">
                    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="img-responsive" />
                </div>
                <div class="col-lg-1 col-md-1 article-title--padding">
                </div>
            }
            <div class="col-lg-5 col-md-5 article-title--align-middle">
                <h2>@Model.Title</h2>
                <div class="article-detail-datetime">
                    @Model.PublicationDate.ToString("D")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="article-detail-content col-lg-9">
                @Html.Kentico().ResolveUrls(Model.Text)
            </div>
        </div>
    </div>*@
<div class="news standard-bottom body-margin-x pt-5">
    <div class="d-flex justify-content-center mt-5 mb-2">
        @foreach (var cat in Model.Categories)
        {
            <div class="button card-status card-info p-0 categories-mark px-4 mx-1  pt-2 bg-blue-cat text-white">@cat.CategoryDisplayName</div>
        }
    </div>
    <div class="d-flex justify-content-center mb-1">
        <div class="article-title">@Model.Title</div>
    </div>
    @foreach (var author in Model.Author)
    {
        <div class="d-flex h-33 my-1 justify-content-center">
            <img src="@author.Image" class="rounded-circle" alt="@author.Name">
            <div class="px-2 pt-2 separated-right">@author.Name</div>
            <div class="px-2 pt-2 s-date-color">@Model.PublicationDate.ToString("dd MMMM yyyy")</div>
        </div>
    }
    <div class="intro-paragraph fz-15 my-5">
        <div class="results-stats d-flex justify-content-center text-center news-paragraph px-5">
            <p>
                @Html.Kentico().ResolveUrls(Model.Text)
            </p>
        </div>
    </div>
    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="card-img-top article-img" />
    <div class="d-flex mt-5">
        <div class="col">
            <h3>Categories</h3>
            <div class="py-3">
                <div class="categories-border mb-2">
                    <div>Homes</div>
                    <div class="golden-text">5 Articles</div>
                </div>
                <div class="categories-border mb-2">
                    <div>Events</div>
                    <div class="golden-text">25 Articles</div>
                </div>
                <div class="categories-border mb-2">
                    <div>Updates</div>
                    <div class="golden-text">32 Articles</div>
                </div>
                <div class="categories-border mb-2">
                    <div>Company</div>
                    <div class="golden-text">15 Articles</div>
                </div>
            </div>
        </div>
        <div class="col-10">
            @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
            <div class="d-flex justify-content-between body-margin-x mt-5">
                <button class="px-5 pb-2 button button-login button-properties">Back to Archive</button>
                <button class="px-5 pb-2 button button-login button-properties">Next Article</button>
            </div>
        </div>
    </div>
</div>


@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}
