﻿@model DancingGoat.Models.ContactPage.ContactPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner position-center-parent" style="background-image: url('@Url.Content(@Model.TeaserPath)');">
    <div class="banner-items position-center-child">
        <h1 class="d-flex justify-content-center mb-4">@Model.Title</h1>
    </div>
</div>

<div class="contact standard-bottom">
    <div class="contact-rows d-flex">
        <div class="col-lg-7 p-5 col-md-12">
            <div class="bg-brand-section">
                @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
            </div>
        </div>
        <div class="col-lg-5 p-5 col-md-12">
            @Html.Kentico().EditableArea("area2", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
        </div>
    </div>
</div>



@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}
