﻿@model DancingGoat.Models.PageTemplates.FaqViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="col-lg-12 article-detail-related-box article-detail-full-width">
    <div class="row equal-height">
        @if (!string.IsNullOrEmpty(Model.TeaserPath))
        {
            <div class="article-detail-image col-lg-6 col-md-6">
                <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="img-responsive" />
            </div>
            <div class="col-lg-1 col-md-1 article-title--padding">
            </div>
        }
        <div class="col-lg-5 col-md-5 article-title--align-middle">
            <h2>@Model.Title</h2>
            <div class="article-detail-datetime">
                @Model.PublicationDate.ToString("D")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="article-detail-content col-lg-9">
            @Html.Kentico().ResolveUrls(Model.Text)
        </div>
    </div>
</div>*@
<div class="banner position-center-parent">
    <div class="banner-items position-center-child">
        <h1 class="d-flex justify-content-center mb-4">FAQs</h1>
    </div>
</div>
<div class="faq standard-bottom">
    <div class="bg-brand-section standard-bottom">
        <div class="body-margin-x">
            <div class="intro-paragraph fz-15 p-5 text-center">
                <div class="results-stats d-flex justify-content-center">
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin
                        professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words,
                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical
                        literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
                        1.10.33
                        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45
                        BC. This
                        book is a treatise on the theory of ethics, very popular during the Renaissance. The first
                        line of
                        Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                    </p>
                </div>
            </div>
            <!--test-->
            <div class="accordion faq md-accordion pb-5" id="accordionEx" role="tablist" aria-multiselectable="true">
                @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                <!-- Accordion card -->
                <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->
            <!--test-->
        </div>
    </div>
    @Html.Kentico().EditableArea("area2", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
</div>

<script>
    x = document.getElementsByClassName("card-header");
    y = document.getElementsByClassName("collapse");
    z = document.getElementsByClassName("controller");
    for (i = 0; i < x.length; i++) {
        x[i].setAttribute("id", i);
        z[i].setAttribute("aria-controls", "collapseOne" + i);
        z[i].setAttribute("href", "#collapseOne" + i);
        y[i].setAttribute("id", "collapseOne" + i);
        y[i].setAttribute("aria-labelledby", i);
    }

</script>

@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}
