﻿@model DancingGoat.Models.PageTemplates.ListingFullViewModel
@{
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
@*<div class="col-lg-12 article-detail-related-box article-detail-full-width">
        <div class="row equal-height">
            @if (!string.IsNullOrEmpty(Model.TeaserPath))
            {
                <div class="article-detail-image col-lg-6 col-md-6">
                    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="img-responsive" />
                </div>
                <div class="col-lg-1 col-md-1 article-title--padding">
                </div>
            }
            <div class="col-lg-5 col-md-5 article-title--align-middle">
                <h2>@Model.Title</h2>
                <div class="article-detail-datetime">
                    @Model.PublicationDate.ToString("D")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="article-detail-content col-lg-9">
                @Html.Kentico().ResolveUrls(Model.Text)
            </div>
        </div>
    </div>*@
<style>
    /*TEST*/

    /* custom select */
    .jcf-select {
        display: block;
        vertical-align: top;
        background: #fff;
        margin: 0;
        min-width: 1px;
        text-align: left;
        cursor: default;
        position: relative;
        line-height: 1;
        border-radius: 0;
        height: 30px;
        font-size: 14px;
        color: #0d0d0d;
        padding: 13px 27px 0 10px;
        border: 1px solid #000 !important;
        width: 200px;
        max-width: 100%;
    }

        .jcf-select:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            pointer-events: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 6.5px 0 6.5px;
            border-color: #d82717 transparent transparent transparent;
            margin-top: -4px;
        }

        .jcf-select select {
            z-index: 1;
            left: 0;
            top: 0;
        }

        .jcf-select .jcf-select-text {
            cursor: default;
            display: block;
            text-align: left;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .jcf-select .jcf-select-opener {
            display: none;
        }

    body > .jcf-select-drop {
        position: absolute;
        margin: -1px 0 0;
        z-index: 9999;
    }

        body > .jcf-select-drop.jcf-drop-flipped {
            margin: 1px 0 0;
        }

    .jcf-select .jcf-select-drop {
        position: absolute;
        margin-top: 0;
        z-index: 9999;
        top: 100%;
        left: -1px;
        right: -1px;
    }

    .jcf-select .jcf-drop-flipped {
        bottom: 100%;
        top: auto;
    }

    .jcf-select.jcf-compact-multiple {
        max-width: 220px;
    }

        .jcf-select.jcf-compact-multiple .jcf-select-opener:before {
            display: inline-block;
            padding-top: 2px;
            content: '...';
        }

    .jcf-select-drop .jcf-select-drop-content {
        border: none;
        padding: 1px 0 0;
    }

    .jcf-select-drop.jcf-compact-multiple .jcf-hover {
        background: none;
    }

    .jcf-select-drop.jcf-compact-multiple .jcf-selected {
        background: #e6e6e6;
        color: #000;
    }

        .jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
            display: inline-block;
            content: '';
            height: 4px;
            width: 8px;
            margin: -7px 5px 0 -3px;
            border: 3px solid #777;
            border-width: 0 0 3px 3px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
        }

    /* multiple select styles */
    .jcf-list-box {
        overflow: hidden;
        display: inline-block;
        border: 1px solid #b8c3c9;
        min-width: 200px;
        margin: 0 15px;
    }

    /* select options styles */
    .jcf-list {
        display: inline-block;
        vertical-align: top;
        position: relative;
        line-height: 14px;
        font-size: 12px;
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
        background: #fff;
        border-radius: 0;
        overflow: hidden;
    }

        .jcf-list .jcf-list-content {
            vertical-align: top;
            display: inline-block;
            overflow: auto;
            width: 100%;
            /*max-height:250px !important;*/
        }

        .jcf-list ul {
            list-style: none;
            margin: 0;
            padding: 2px 0 0;
        }

            .jcf-list ul li {
                overflow: hidden;
                display: block;
                margin: 0;
                padding: 0;
            }

        .jcf-list .jcf-overflow {
            overflow: auto;
        }

        .jcf-list .jcf-option {
            white-space: nowrap;
            overflow: hidden;
            cursor: default;
            display: block;
            color: #333;
            text-decoration: none;
            text-overflow: ellipsis;
            padding: 10px 15px;
            font-size: 14px;
            line-height: 1;
            text-align: left;
            height: auto;
            min-height: 1px;
        }

        .jcf-list .jcf-disabled {
            background: #fff !important;
            color: #aaa !important;
        }

    .jcf-select-drop .jcf-hover,
    .jcf-list-box .jcf-selected {
        background: #e6e6e6;
        color: #000;
    }

    .jcf-list .jcf-optgroup-caption {
        white-space: nowrap;
        font-weight: bold;
        display: block;
        padding: 5px 9px;
        cursor: default;
        color: #000;
    }

    .jcf-list .jcf-optgroup .jcf-option {
        padding-left: 30px;
    }

    /* scrollbars */
    .jcf-select-drop .jcf-scrollable-wrapper {
        box-sizing: content-box;
        position: relative;
    }

    .jcf-select-drop .jcf-scrollbar-vertical {
        position: absolute;
        cursor: default;
        bottom: 0;
        right: 0;
        top: 0;
        background: none;
        width: 10px;
        padding: 0 0 0 2px;
    }

        .jcf-select-drop .jcf-scrollbar-vertical .jcf-scrollbar-dec,
        .jcf-select-drop .jcf-scrollbar-vertical .jcf-scrollbar-inc,
        .jcf-select-drop .jcf-scrollbar-horizontal .jcf-scrollbar-handle,
        .jcf-select-drop .jcf-scrollbar-horizontal .jcf-scrollbar-slider,
        .jcf-select-drop .jcf-scrollbar-horizontal .jcf-scrollbar-dec,
        .jcf-select-drop .jcf-scrollbar-horizontal .jcf-scrollbar-inc,
        .jcf-select-drop .jcf-scrollbar-horizontal {
            display: none;
        }

        .jcf-select-drop .jcf-scrollbar-vertical .jcf-scrollbar-handle {
            height: 1px;
            width: 6px;
            border-radius: 10px;
            background: #ccc;
        }


    .jcf-select-drop .jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
        visibility: hidden;
    }
    /* end scrollbars */

    .jcf-list-content .jcf-option-placeholder {
        display: none;
    }
    /* end custom select */



    /*TEST*/
    .standard-bottom .row {
        display: block;
    }
</style>
<div class="standard-bottom">
    @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
    <h2 id="gallery" class="background-line standard-bottom mt-5"><span>Specification</span></h2>
    <div class="listing-gallery footer-distance">
        <div class="accordion login-accordion w-100" id="accordionExample2">
            <div class="tabs d-flex justify-content-center">
                <div class="card-header p-0 mx-1 tab-h53 bg-brand-section br-none current" data-tab="tab-4">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style collapsed px-4" type="button"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            Shared Ownership
                        </button>
                    </h2>
                </div>
                <div class="card-header p-0 mx-1 tab-h53 bg-brand-section br-none" data-tab="tab-5">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style px-4" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Private Sale & Help to Buy
                        </button>
                    </h2>
                </div>
                <div class="card-header p-0 mx-1 tab-h53 bg-brand-section br-none" data-tab="tab-6">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style px-4" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Rent to Buy
                        </button>
                    </h2>
                </div>
            </div>
            <div class="card bg-white">
                <div id="tab-4" class="tab current body-margin-x" aria-labelledby="headingOne" data-parent="#accordionExample2">
                    <div class="card-body bg-white text-left mt-2">
                        <div>
                            <div class="d-flex body-margin-x">
                                <div class="col separated-right py-4">
                                    @Html.Kentico().EditableArea("area5", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                                <div class="col separated-right py-4">

                                    @Html.Kentico().EditableArea("area6", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                                <div class="col py-4">
                                    @Html.Kentico().EditableArea("area7", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-5">
                                <button class="col-2 button button-login button-properties border-grey px-5 pb-2 col text-grey">Register Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-white">
                <div id="tab-5" class="tab body-margin-x" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                    <div class="card-body pb-0 text-left mt-2">
                        <div>
                            <div class="d-flex body-margin-x">
                                <div class="col separated-right py-4">
                                    @Html.Kentico().EditableArea("area8", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                                <div class="col separated-right py-4">

                                    @Html.Kentico().EditableArea("area9", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                                <div class="col py-4">
                                    @Html.Kentico().EditableArea("area10", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-5">
                                <button class="col-2 button button-login button-properties border-grey px-5 pb-2 col text-grey">Register Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-white">
                <div id="tab-6" class="tab body-margin-x" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                    <div class="card-body pb-0 text-left mt-2">
                        <div>
                            <div class="d-flex body-margin-x">
                                <div class="col separated-right py-4">
                                    @Html.Kentico().EditableArea("area11", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                                <div class="col separated-right py-4">

                                    @Html.Kentico().EditableArea("area12", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                                <div class="col py-4">
                                    @Html.Kentico().EditableArea("area13", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-5">
                                <button class="col-2 button button-login button-properties border-grey px-5 pb-2 col text-grey">Register Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Kentico().EditableArea("area2", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
    @{int p = 0;}
    @if (Model.Plots.Any())
    {
        <h2 class="more-optivo-title standard-bottom mt-5"><span>Prices & Availability</span></h2>
        <div class="accordion login-accordion w-100" id="accordionExample1">
            <div class="tabs d-flex justify-content-center">
                <div class="card-header p-0 mr-2 tab-h53 bg-brand-section br-none current" data-tab="tab-1">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style collapsed px-4" type="button"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            Shared Ownership
                        </button>
                    </h2>
                </div>
                <div class="card-header p-0 mr-2 tab-h53 bg-brand-section br-none" data-tab="tab-2">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style px-4" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Private Sale & Help to Buy
                        </button>
                    </h2>
                </div>
                <div class="card-header p-0 mr-2 tab-h53 bg-brand-section br-none" data-tab="tab-3">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style px-4" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Rent to Buy
                        </button>
                    </h2>
                </div>
            </div>
            <div class="card">
                <div id="tab-1" class="tab current" aria-labelledby="headingOne" data-parent="#accordionExample1">
                    <div class="card-body text-left mt-2">
                        <h2 class="golden-text standard-bottom mt-60 text-center">
                            Shared Ownership
                        </h2>
                        <div class="table plots-list">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead class="bg-brand-section">
                                            <tr>
                                                <th scope="col" class="plot-h">Plot No</th>
                                                <th scope="col" class="plot-h">Type</th>
                                                <th scope="col" class="plot-h">Bedrooms</th>
                                                <th scope="col" class="plot-h">Full Market Value</th>
                                                <th scope="col" class="plot-h">Share %</th>
                                                <th scope="col" class="plot-h">Share Value</th>
                                                <th scope="col" class="plot-h">Availability Status</th>
                                                <th scope="col" class="plot-h"></th>
                                                <th scope="col" class="plot-h"></th>
                                                <th scope="col" class="plot-h"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var plot in Model.Plots)
                                            {
                                                if (plot.tenureTypeId == 1)
                                                {
                                                    <tr>
                                                        <th scope="row" class="text-center pt-3 plot-h">@plot.plotNumber</th>
                                                        <td class="text-center pt-3 plot-h">@plot.plotTypeId</td>
                                                        <td class="text-center pt-3 plot-h">@plot.beds</td>
                                                        <td class="text-center pt-3 plot-h">@plot.maxShare</td>
                                                        <td class="text-center pt-3 plot-h">@plot.minShare</td>
                                                        <td class="text-center pt-3 plot-h">@plot.latestValuation £</td>
                                                        <td class="text-center pt-3 plot-h">2.846</td>
                                                        <td class="bg-brand-section text-center">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@p">
                                                                Floorplan
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@p" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-plots-dialog" role="document">
                                                                    <div class="modal-content modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <img src="@plotk.Floorplan" alt="@p" width="100%" height="600">
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="bg-brand-section">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@(p+2000+p)">
                                                                Cost Details
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+2000+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body text-white plot-h cost-text">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                            <div>
                                                                                <div class="pb-3">Plot Number:   @plot.plotNumber</div>
                                                                                @if (plot.cmsMonthlyRent != null)
                                                                                {
                                                                                    <div class="pb-3">Monthly Rent:   @plot.cmsMonthlyRent</div>
                                                                                }
                                                                                <div class="pb-3">Full Price:   @plot.latestValuation £</div>
                                                                            </div>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="bg-brand-section">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@(p+1000+p)">
                                                                EPC
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+1000+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered  modal-plots-dialog" role="document">
                                                                    <div class="modal-content  modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <img src="@plotk.EPC" alt="@p" width="100%" height="600">
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                p++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Kentico().EditableArea("area252", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                </div>
            </div>
            <div class="card">
                <div id="tab-2" class="tab" aria-labelledby="headingTwo" data-parent="#accordionExample1">
                    <div class="card-body text-left mt-2">
                        <h2 class="golden-text standard-bottom mt-60 text-center">
                            Private Sale & Help to Buy
                        </h2>
                        <div class="table plots-list">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead class="bg-brand-section">
                                            <tr>
                                                <th scope="col">Plat no</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Beedrooms</th>
                                                <th scope="col">Full Market Value</th>
                                                <th scope="col">Share %</th>
                                                <th scope="col">Share Value</th>
                                                <th scope="col">Availability Status</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var plot in Model.Plots)
                                            {
                                                if (plot.tenureTypeId == 2)
                                                {
                                                    <tr>
                                                        <th scope="row" class="text-center pt-3">@plot.plotNumber</th>
                                                        <td class="text-center pt-3">@plot.plotTypeId</td>
                                                        <td class="text-center pt-3">@plot.beds</td>
                                                        <td class="text-center pt-3">@plot.maxShare</td>
                                                        <td class="text-center pt-3">2.846</td>
                                                        <td class="text-center pt-3">32131</td>
                                                        <td class="text-center pt-3">2.846</td>
                                                        <td class="bg-brand-section text-center">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@p">
                                                                Floorplan
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+400+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-plots-dialog" role="document">
                                                                    <div class="modal-content modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <img src="@plotk.Floorplan" alt="@(p+400+p)" width="100%" height="600">
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="bg-brand-section">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@(p+4000+p)">
                                                                Cost Details
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+4000+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body text-white plot-h cost-text">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <div>
                                                                                            <div class="pb-3">Plot Number:   @plot.plotNumber</div>
                                                                                            @if (plot.cmsMonthlyRent != null)
                                                                                            {
                                                                                                <div class="pb-3">Monthly Rent:   @plot.cmsMonthlyRent</div>
                                                                                            }
                                                                                            <div class="pb-3">Full Price:   @plot.latestValuation £</div>
                                                                                        </div>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="bg-brand-section">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@(p+200+p)">
                                                                EPC
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+400+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered  modal-plots-dialog" role="document">
                                                                    <div class="modal-content  modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <img src="@plotk.EPC" alt="@p" width="100%" height="600">
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                p++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Kentico().EditableArea("area251", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                </div>
            </div>
            <div class="card">
                <div id="tab-3" class="tab" aria-labelledby="headingThree" data-parent="#accordionExample1">
                    <div class="card-body text-left mt-2">
                        <h2 class="golden-text standard-bottom mt-60 text-center">
                            Rent to Buy
                        </h2>
                        <div class="table plots-list">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                        <thead class="bg-brand-section">
                                            <tr>
                                                <th scope="col">Plat no</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Beedrooms</th>
                                                <th scope="col">Full Market Value</th>
                                                <th scope="col">Share %</th>
                                                <th scope="col">Share Value</th>
                                                <th scope="col">Availability Status</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var plot in Model.Plots)
                                            {
                                                if (plot.tenureTypeId == 3)
                                                {
                                                    <tr>
                                                        <th scope="row" class="text-center pt-3">@plot.plotNumber</th>
                                                        <td class="text-center pt-3">@plot.plotTypeId</td>
                                                        <td class="text-center pt-3">@plot.beds</td>
                                                        <td class="text-center pt-3">@plot.maxShare</td>
                                                        <td class="text-center pt-3">2.846</td>
                                                        <td class="text-center pt-3">32131</td>
                                                        <td class="text-center pt-3">2.846</td>
                                                        <td class="bg-brand-section text-center">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@p">
                                                                Floorplan
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+200+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-plots-dialog" role="document">
                                                                    <div class="modal-content modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <img src="@plotk.Floorplan" alt="@p" width="100%" height="600">
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="bg-brand-section">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@(p+8000+p)">
                                                                Cost Details
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+8000+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body text-white plot-h cost-text">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                foreach (var plotk in Model.PlotsData)
                                                                                {
                                                                                    if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                    {
                                                                                        <div>
                                                                                            <div class="pb-3">Plot Number:   @plot.plotNumber</div>
                                                                                            @if (plot.cmsMonthlyRent != null)
                                                                                            {
                                                                                                <div class="pb-3">Monthly Rent:   @plot.cmsMonthlyRent</div>
                                                                                            }
                                                                                            <div class="pb-3">Full Price:   @plot.latestValuation £</div>
                                                                                        </div>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="bg-brand-section">
                                                            <button class="button button-login button-properties text-white border-grey text-grey px-2 bg-brand-section" data-toggle="modal" data-target="#@(p+200+p)">
                                                                EPC
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="@(p+200+p)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered  modal-plots-dialog" role="document">
                                                                    <div class="modal-content  modal-plots-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (Model.PlotsData != null)
                                                                            {
                                                                                    foreach(var plotk in Model.PlotsData)
                                                                                    {
                                                                                        if (plot.plotNumber.ToString() == plotk.PlotTypeId)
                                                                                        {
                                                                                            <img src="@plotk.EPC" alt="@(p+200+p)" width="100%" height="600">
                                                                                        }
                                                                                    }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                p++;
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                @Html.Kentico().EditableArea("area250", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
            </div>
        </div>
    }
    @Html.Kentico().EditableArea("area3", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

    <h2 class="more-optivo-title standard-bottom mt-5"><span>Book an Appointment</span></h2>
    <div class="d-flex justify-content-center appointment-calendar body-margin-x">
        <div class="w-565px calendar-list bg-calendar">
            <div class="container-fluid no-gutter">
                <div class="layout" role="layout">

                    <main class="main" role="main">
                        <div class="form-content">
                            <fieldset class="form">
                                <div class="col-sm-12">

                                    <div class="col-sm-5 col-lg-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div id="calendar-1" class="event-calendar calendar-1" data-date="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <fieldset />
                        </div>
                    </main>

                </div>
            </div>
        </div>
        <div class="bg-listing-grey w-501px calendar-status">
            <div>
                <div class="cal-title">Selected Date</div>
                <div class="selected-date-value" id="selected-date">10th March 2022</div>
            </div>
            <div>
                <div class="cal-title">Available Times</div>
                <div class="slots-select dropdown-new w-206px bg-white">
                    <select class="dropdown-new-in" id="slots" name="slots-list">
                        <option selected value="" disabled>Select</option>
                    </select>
                </div>
                <!-- end custom Select -->
            </div>
            <div class="title-line-right pt-5 mb-5 pr-0">
                <span class="bg-listing-grey text-white">Make a Booking</span>
            </div>
            <div class="d-flex justify-content-left">
                @if (Session["CurrentUserInfo"] == null)
                {
                    <div class="col-6">
                        <div class="cal-title">Existing User?</div>
                        <button class="w-100 button button-login button-properties text-white border-grey px-2" onclick="window.location.href='account/login/'">Login</button>
                    </div>
                    <div class="col-6">
                        <div class="cal-title">New to Optivo?</div>
                        <button class="w-100 button button-login button-properties text-white border-grey px-2" onclick="window.location.href='account/login/'">Register</button>
                    </div>
                }
                else
                {
                    <div class="col-6">
                        <div class="cal-title">Book an Appointment?</div>
                        <button class="w-100 button button-login button-properties text-white border-grey px-2" onclick="bookAnAppointment()">Book Now</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function bookAnAppointment() {
            var e = document.getElementById("slots");
            var strUser = e.options[e.selectedIndex].value;
            console.log(strUser);
            var obj = {
                link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/add-appointment/' + @Session["CurrentUserInfo"] + '?viewingSlotId=' + strUser,
                object: {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                    }
                }
            }
            fetch(obj.link, obj.object)
                .then((response) => {
                    alert('Thank You for booking an appointment!')
                    return response.json()
                })
                .then((viewings) => {
                    console.log(viewings);
                })

        }
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];
        /*Calendar functions*/

        function switchMonth() {
            var targetDiv = document.getElementById("calendar-1").getElementsByTagName("td");
            console.log(targetDiv.length);
            for (let k = 0; k < targetDiv.length; k++) {
                targetDiv[k].setAttribute("onclick", "selectingDate()");
                targetDiv[k].className = "disabled-date";
            }
            var targetNext = document.getElementsByClassName("ui-datepicker-next")
            targetNext[0].setAttribute("onclick", "switchMonth()");

            var targetPrev = document.getElementsByClassName("ui-datepicker-prev")
            targetPrev[0].setAttribute("onclick", "switchMonth()");
            avilableDates()

        }

        $(window).on({
            load: function () {

                /* Calendars
                -----------------------------------------------------------*/
                var normalDates = {};
                normalDates[new Date('11/03/2017')] = new Date('11/09/2017');
                normalDates[new Date('11/03/2017')] = new Date('11/09/2017');

                var peakDates = [];
                peakDates[new Date('03/10/2017')] = new Date('03/15/2017');
                peakDates[new Date('03/13/2017')] = new Date('03/12/2017');

                //define range
                var fromDate = new Date("03/10/2017");
                var toDate = new Date("03/15/2017");

                $('#calendar-1').datepicker({
                    dayNamesMin: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
                    firstDay: 7,
                    showCurrentAtPos: 0,
                    beforeShowDay: function (date) {

                        var normalRate = normalDates[date];
                        var peakRate = peakDates[date];

                        if (normalRate) {
                            //if($.inArray(date, normal_rate_dates)) {
                            return [true, 'rate-default', 'tooltip text'];
                        }
                        else if (date >= fromDate && date <= toDate) {
                            // if($.inArray(date, normal_rate_dates)) {
                            return [true, 'rate-blue', 'tooltip text'];

                        }
                        else {
                            // default
                            return [true, '', ''];
                        }
                    }
                });
                var targetDiv = document.getElementById("calendar-1").getElementsByTagName("td");
                console.log(targetDiv.length);
                for (let k = 0; k < targetDiv.length; k++) {
                    targetDiv[k].setAttribute("onclick", "selectingDate()");
                    targetDiv[k].className = "disabled-date";
                }
                var targetNext = document.getElementsByClassName("ui-datepicker-next")
                targetNext[0].setAttribute("onclick", "switchMonth()");

                var targetPrev = document.getElementsByClassName("ui-datepicker-prev")
                targetPrev[0].setAttribute("onclick", "switchMonth()");

                /*Aviliable date active*/
                avilableDates()
                /*aviliable date active*/

                /* End Of Calendars
                -----------------------------------------------------------*/
            },
        });

        function selectingDate() {
            $("ui-state-active").parent('td').addClass("aback")
            $('#slots').children().remove().end()
                .append('<option selected value="" disabled>Select</option>');
            var selectedDate = document.getElementById('selected-date');
            var selectDate = document.getElementsByClassName('ui-datepicker-current-day');
            console.log(selectDate[0].innerText)
            selectedDate.innerHTML = selectDate[0].innerText + 'th ' + months[selectDate[0].dataset.month] + ' ' + selectDate[0].dataset.year;

            var targetDiv = document.getElementById("calendar-1").getElementsByTagName("td");
            console.log(targetDiv.length);
            for (let k = 0; k < targetDiv.length; k++) {
                targetDiv[k].setAttribute("onclick", "selectingDate()");
                targetDiv[k].className = "disabled-date";
            }

            let slots = document.getElementById("slots")

            var obj = {
                link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/development-viewings/1',
                object: {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                    }
                }
            }
            avilableDates()

            var targetNext = document.getElementsByClassName("ui-datepicker-next")
            targetNext[0].setAttribute("onclick", "switchMonth()");

            var targetPrev = document.getElementsByClassName("ui-datepicker-prev")
            targetPrev[0].setAttribute("onclick", "switchMonth()");
        }

        function avilableDates() {
            /*Aviliable date active*/
            let slots = document.getElementById("slots")
            var obj = {
                link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/development-viewings/1',
                object: {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                    }
                }
            }
            var targetDiv = document.getElementById("calendar-1").getElementsByTagName("td");
            var targetDiv2 = document.getElementById("calendar-1").getElementsByTagName("a");
            fetch(obj.link, obj.object)
                .then((response) => {
                    return response.json()
                })
                .then((viewings) => {
                    console.log(viewings);
                    let option;

                    for (let i = 0; i < viewings.length; i++) {
                        let dt = new Date(viewings[i].viewingDate);
                        if (document.getElementsByClassName("ui-datepicker-year")[0].innerHTML == dt.getFullYear()) {
                            if (document.getElementsByClassName("ui-datepicker-month")[0].innerHTML == months[dt.getMonth()]) {

                                for (let k = 0; k < targetDiv.length; k++) {
                                    var day = targetDiv[k].getElementsByTagName("a");
                                    if (day.length > 0) {
                                        if (day[0].innerHTML == dt.getDate()) {
                                            targetDiv[k].setAttribute("onclick", "selectingDate()");
                                            targetDiv[k].className = "activate";
                                            if (document.getElementsByClassName("ui-state-active").length > 0) {
                                                if (document.getElementsByClassName("ui-state-active")[0].innerHTML == dt.getDate()) {
                                                    $('#slots').children().remove().end()
                                                        .append('<option selected value="" disabled>Select</option>');
                                                    
                                                    for (let j = 0; j < viewings[i].slots.length; j++) {
                                                        option = document.createElement('option');
                                                        if (viewings[i].slots[j].slotTime != null) {
                                                            option.text = viewings[i].slots[j].slotTime;
                                                            option.value = viewings[i].slots[j].slotId;

                                                            slots.add(option);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                })
            /*aviliable date active*/
        }
        /*end of calendar*/
        //Custom select
        var obj = {
            link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/development-viewings/1',
            object: {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                }
            }
        }
        fetch(obj.link, obj.object)
            .then((response) => {
                return response.json()
            })
            .then((viewings) => {
                console.log(viewings);
            })

    </script>

    @Html.Kentico().EditableArea("area4", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

    @section styles {
        @Html.Kentico().PageBuilderStyles()
    }

    @section scripts {
        @Html.Kentico().PageBuilderScripts()
    }
