﻿@model DancingGoat.Models.PageTemplates.BlogViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 article-detail-related-box article-detail-full-width">
        <div class="row equal-height">
            @if (!string.IsNullOrEmpty(Model.TeaserPath))
            {
                <div class="article-detail-image col-lg-6 col-md-6">
                    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="img-responsive" />
                </div>
                <div class="col-lg-1 col-md-1 article-title--padding">
                </div>
            }
            <div class="col-lg-5 col-md-5 article-title--align-middle">
                <h2>@Model.Title</h2>
                <div class="article-detail-datetime">
                    @Model.PublicationDate.ToString("D")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="article-detail-content col-lg-9">
                @Html.Kentico().ResolveUrls(Model.Text)
            </div>
        </div>
    </div>



@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}
