﻿@model DancingGoat.Models.PageTemplates.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="col-lg-12 article-detail-related-box article-detail-full-width">
        <div class="row equal-height">
            @if (!string.IsNullOrEmpty(Model.TeaserPath))
            {
                <div class="article-detail-image col-lg-6 col-md-6">
                    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="img-responsive" />
                </div>
                <div class="col-lg-1 col-md-1 article-title--padding">
                </div>
            }
            <div class="col-lg-5 col-md-5 article-title--align-middle">
                <h2>@Model.Title</h2>
                <div class="article-detail-datetime">
                    @Model.PublicationDate.ToString("D")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="article-detail-content col-lg-9">
                @Html.Kentico().ResolveUrls(Model.Text)
            </div>
        </div>
    </div>*@

<!-- implementation -->

<div class="banner position-center-parent banner-search" style="background-image: url('@Url.Content(Model.BackgroundImagePath)');">
    <div class="banner-items position-center-child">
        <h1 class="d-flex justify-content-center mb-4">@Model.Heading</h1>
        <div class="d-flex row search justify-content-center">
            <div class="my-auto mx-3 centralization">Location</div>
            <div class="w-206px dropdown-new">
                <select id="locality-dropdown" name="locality" onclick="filter()" class="dropdown-new-in"></select>
            </div>
            <div class="my-auto mx-3 centralization">Min. Bedrooms</div>
            <div class="w-152px dropdown-new">
                <select id="bedrooms" name="min-bedrooms" class="dropdown-new-in">
                    <option value="" disabled selected>Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button type="button" class="btn-warning button button-search button-submit-search mx-3">Search</button>
        </div>
    </div>
</div>
<!--end of navbar and header items-->

<div class="search-on">
    <div class="results-stats mb-5 mt-4 d-flex justify-content-center">
        <div class="mr-4"><b id="stats">137 properties found</b></div>
        <div class="showing" id="show-pages">Showing 1 - 9</div>
    </div>
    <div class="advanced-options mt-3">
        <div id="accordion">
            <div class="card">
                <div class="card-header py-1 px-3" id="headingOne">
                    <div class="mb-0">
                        <button class="btn btn-link mt-2 collapsed d-flex justify-content-between w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                aria-controls="collapseOne">
                            <div class="a-search-title">Advanced Search</div>
                            <img src="~/Content/Images/caret-up-solid.svg" alt="1" title="1" width="12">
                        </button>
                    </div>
                </div>

                <div id="collapseOne" class="collapse px-3 show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row d-flex">
                            <div class="pr-3 pl-2">
                                <div class="golden-text mb-2">Tenure</div>
                                <label class="container">
                                    Private Sale
                                    <input type="checkbox" id="private" onclick="filter()" class="radio" value="1" name="fooby[3][]">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Shared Ownership
                                    <input type="checkbox" id="shared" onclick="filter()" class="radio" value="2" name="fooby[3][]">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Help to Buy
                                    <input type="checkbox" id="help" onclick="filter()" class="radio" value="3" name="fooby[3][]">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Rent to Buy
                                    <input type="checkbox" id="rent" onclick="filter()" class="radio" value="4" name="fooby[3][]">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="px-3">
                                <div class="golden-text mb-2">Availability</div>
                                <label class="container">
                                    Coming Soon
                                    <input type="checkbox" id="coming" onclick="filter()" class="radio" value="1" name="fooby[1][]">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Avaliable
                                    <input type="checkbox" id="avaliable" onclick="filter()" class="radio" value="2" name="fooby[1][]">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="px-3">
                                <div class="golden-text mb-2">Property Type</div>
                                <label class="container">
                                    Apartments
                                    <input type="checkbox" id="apartments" onclick="filter()" class="radio" value="1" name="fooby[2][]">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Houses
                                    <input type="checkbox" id="houses" onclick="filter()" class="radio" value="2" name="fooby[2][]">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="px-3">
                                <div class="golden-text mb-2">Required</div>
                                <label class="container">
                                    Outside space
                                    <input type="checkbox" id="outside" onclick="filter()">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Garden
                                    <input type="checkbox" id="garden" onclick="filter()">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="container">
                                    Parking space
                                    <input type="checkbox" id="parking" onclick="filter()">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="px-3">
                                <div class="golden-text mb-2">Development</div>
                                <div class="dropdown-new bg-white border-0">
                                    <select id="developments" name="developments-list" onclick="filter()" class="dropdown-new-in">
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header py-1 px-3 sort">
                    <div class="mb-0 d-flex">
                        <div class="btn btn-link mt-2 mr-5 a-search-title" aria-controls="collapseOne">
                            Sort By
                        </div>
                        @*<button class="btn btn-secondary btn-lg bg-white border-0 dropdown-toggle button button-search button-development pb-3"
                                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>*@
                        <div class="w-588px dropdown-new bg-white">
                            <select id="sort" name="sort" class="dropdown-new-in" onclick="filter()">
                                <option value="" disabled selected></option>
                                <option value="2">Full Price High to Low</option>
                                <option value="3">min deposit Low to high</option>
                                <option value="4">min deposit High to Low</option>
                                <option value="5">Monthly Cost Low to high</option>
                                <option value="6">Monthly Cost High to Low</option>
                                <option value="7">Min Share Low to high</option>
                                <option value="8">Min Share High to Low</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-results body-margin-x">
        <div id="pager1" class="row d-flex standard-bottom mx-1 pb-2 listings-search - wp-list-table widefat striped posts">
            @foreach (var item in Model.Listings)
            {
                foreach (var card in item.CardData)
                {
                    <div class="col-md-4 my-sm-4  my-md-0 mb-3 dev props" id="@card.propertyId">
                        <div class="card border-none bg-white">
                            <img class="card-img home-card-img w-100" src="https://via.placeholder.com/300.png/09f/fff" alt="Card image">
                            <div class="card-img-overlay">
                                <div class="d-flex justify-content-between">
                                    @if (card.FeaturedProperty)
                                    {
                                        <div class="button card-status card-info bg-black text-white">Featured</div>
                                        <div class="button card-categories card-info bg-black text-white">@card.Tag1</div>
                                    }
                                    else if (card.Tag1 != null && card.Tag2 == null)
                                    {
                                        <div class="button card-status card-info">@card.Tag1</div>
                                        <div class=""> </div>
                                    }
                                    else if (card.Tag2 == null && card.Tag1 == null)
                                    {
                                    }
                                    else if (card.Tag2 != null && card.Tag1 != null && card.FeaturedProperty == false)
                                    {
                                        <div class="button card-status card-info">@card.Tag1</div>
                                        <div class="button card-categories card-info">@card.Tag2</div>
                                    }
                                </div>
                            </div>
                            <div class="card-body p-0 min-h-321px">
                                @if (card.tenureTypeId == 1)
                                {
                                    if (card.FeaturedProperty)
                                    {
                                        <div class="row m-0 d-flex card-category text-center justify-content-end text-white bg-black">
                                            <div class="py-2 px-2 shared">Shared Ownership</div>
                                        </div>
                                        <div class="row m-0 p-3 bg-black text-white">
                                            <div class="card-home-text-style">
                                                <div class="mb-3">
                                                    <div class="golden-text card-name">Field Rise</div>
                                                    <div class="card-spec">Ticehurst</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Bedrooms</div>
                                                    <div class="card-spec col-4">@card.minBedrooms</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Full market value from</div>
                                                    <div class="card-spec col-4">@card.minBedrooms</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Prices from</div>
                                                    <div class="card-spec col-4">@card.pricesFrom</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Minimum deposit from</div>
                                                    <div class="card-spec col-4">20%</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Total monthly cost from</div>
                                                    <div class="card-spec col-4">@card.tenureTypeId</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                            <div class="py-2 px-2 shared">Shared Ownership</div>
                                        </div>
                                        <div class="row m-0 p-3">
                                            <div class="card-home-text-style">
                                                <div class="mb-3">
                                                    <div class="golden-text card-name">Field Rise</div>
                                                    <div class="card-spec">Ticehurst</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Bedrooms</div>
                                                    <div class="card-spec col-4">@card.minBedrooms</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Full market value from</div>
                                                    <div class="card-spec col-4">@card.minBedrooms</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Prices from</div>
                                                    <div class="card-spec col-4">@card.pricesFrom</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Minimum deposit from</div>
                                                    <div class="card-spec col-4">20%</div>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between card-values">
                                                    <div class="card-spec">Total monthly cost from</div>
                                                    <div class="card-spec col-4">@card.tenureTypeId</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                        <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@item.DevelopmentId'">View properties</button>
                                    </div>
                                }
                                @if (card.tenureTypeId == 2)
                                {
                                    <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                        <div class="py-2 px-2 shared private">Help to Buy</div>
                                    </div>
                                    <div class="row m-0 p-3">
                                        <div class="card-home-text-style">
                                            <div class="mb-3">
                                                <div class="golden-text card-name">Field Rise</div>
                                                <div class="card-spec">Ticehurst</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Bedrooms</div>
                                                <div class="card-spec col-4">@card.minBedrooms</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Prices from</div>
                                                <div class="card-spec col-4">@card.pricesFrom</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Minimum deposit from</div>
                                                <div class="card-spec col-4">20%</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Total monthly cost from</div>
                                                <div class="card-spec col-4">@card.tenureTypeId</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                        <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@item.DevelopmentId'">View properties</button>
                                    </div>
                                }
                                @if (card.tenureTypeId == 6)
                                {
                                    <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                        <div class="py-2 px-2 shared rent">Rent to Buy</div>
                                    </div>
                                    <div class="row m-0 p-3">
                                        <div class="card-home-text-style">
                                            <div class="mb-3">
                                                <div class="golden-text card-name">Field Rise</div>
                                                <div class="card-spec">Ticehurst</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Bedrooms</div>
                                                <div class="card-spec col-4">@card.minBedrooms</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Prices from</div>
                                                <div class="card-spec col-4">@card.pricesFrom</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                        <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@item.DevelopmentId'">View properties</button>
                                    </div>
                                }
                                @if (card.tenureTypeId == 3)
                                {
                                    <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                        <div class="py-2 px-2 shared sale">Private Sale</div>
                                    </div>
                                    <div class="row m-0 p-3">
                                        <div class="card-home-text-style">
                                            <div class="mb-3">
                                                <div class="golden-text card-name">Field Rise</div>
                                                <div class="card-spec">Ticehurst</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Bedrooms</div>
                                                <div class="card-spec col-4">@card.minBedrooms</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Prices from</div>
                                                <div class="card-spec col-4">@card.pricesFrom</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Minimum deposit from</div>
                                                <div class="card-spec col-4">20%</div>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between card-values">
                                                <div class="card-spec">Total monthly cost from</div>
                                                <div class="card-spec col-4">@card.tenureTypeId</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                        <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href = '/@item.DevelopmentId'">View properties</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            </div>
                <div id="pageNavPosition" class="pager-nav search-results-pagination d-flex justify-content-center footer-distance">
                </div>
        </div>
    </div>

    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        document.getElementById("stats").innerHTML = document.getElementsByClassName('props').length + " properties found"
        $("input:checkbox").on('click', function () {
            // in the handler, 'this' refers to the box clicked on
            var $box = $(this);
            if ($box.is(":checked")) {
                // the name of the box is retrieved using the .attr() method
                // as it is assumed and expected to be immutable
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                // the checked state of the group/box on the other hand will change
                // and the current value is retrieved using .prop() method
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        });
        var obj = {
            link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/get-developments',
            object: {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                }
            }
        }
        let tenure = null;
        let availability = null;
        let property = null;

        function uncheckTenure() {
            var opt1 = document.getElementById("private");
            var opt2 = document.getElementById("shared");
            var opt3 = document.getElementById("help");
            var opt4 = document.getElementById("rent");


            if (opt1.checked) {
                tenure = 1
            } else if (opt2.checked) {
                console.log(opt2.checked)
                tenure = 2;
            } else if (opt3.checked) {
                tenure = 3;
            } else if (opt4.checked) {
                tenure = 4;
            }
        }


        function uncheckAvailability() {
            var opt1 = document.getElementById("coming");
            var opt2 = document.getElementById("avaliable");


            if (opt1.checked) {
                availability = 1

            } else if (opt2.checked) {
                availability = 2;

            }
        }

        function uncheckProperty() {
            var opt1 = document.getElementById("apartments");
            var opt2 = document.getElementById("houses");


            if (opt1.checked) {
                property = 1

            } else if (opt2.checked) {
                property = 2;

            }
        }
        /*Filter*/
        function filter() {
            tenure = null;
            availability = null;
            property = null;
            var developmentsList = document.getElementsByClassName('dev');
            for (let d = 0; d < developmentsList.length; d++) {
                developmentsList[d].style.display = "none";
                developmentsList[d].classList.remove("props");
            }
            var filtering = {
                link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/search-properties',
                object: {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                    },
                    body: {
                        'tenureId': 1
                    }
                }
            }

            let development = document.getElementById("developments")
            let local = document.getElementById("locality-dropdown")
            let sort = document.getElementById("sort")
            let beds = document.getElementById("bedrooms")
            uncheckTenure()
            uncheckAvailability()
            uncheckProperty()
            var opt1 = document.getElementById("garden");
            var opt2 = document.getElementById("outside");
            var opt3 = document.getElementById("parking");

            let data = {
                developmentId: development.value,
                sortBy: sort.value,
                tenureId: tenure,
                minBeds: beds.value == "Select" ? null : beds.value,
                availabilityId: availability,
                propertyTypeId: property,
                garden: opt1.checked ? true : null,
                outsideSpace: opt2.checked ? true : null,
                numberOfPages: null,
                parkingSpace: opt3.checked ? true : null,
                locationId: local.value == "Select" ? null : local.value

            };
            fetch(filtering.link, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
                },
                body: JSON.stringify(data)
            }).then((response) => {
                return response.json()
            })
                .then((developments) => {
                    console.log(developments);
                    let compare = 0;
                    document.getElementById("stats").innerHTML = developments.properties.length + " properties found"
                    for (let i = 0; i < developments.properties.length; i++) {
                        console.log(document.getElementById(developments.properties[i].propertyId))
                        document.getElementById(developments.properties[i].propertyId) ? document.getElementById(developments.properties[i].propertyId).style.display = "block" : null;
                        document.getElementById(developments.properties[i].propertyId) ? document.getElementById(developments.properties[i].propertyId).classList.add("props") : null;
                        if (compare !== 0) {
                        }
                    }
                    document.getElementById("stats").innerHTML = document.getElementsByClassName('props').length + " properties found"
                })
            pager.init();
            pager.showPageNav('pager', 'pageNavPosition');
            pager.showPage(1);
        }


        /*filter and sort end */

        let dropdown = document.getElementById('locality-dropdown');
        let dropdown2 = document.getElementById('developments');
        let dropdown3 = document.getElementById('bedrooms');

        dropdown.length = 0;
        dropdown2.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Select';

        let defaultOption1 = document.createElement('option');
        defaultOption1.text = '';

        let defaultOption2 = document.createElement('option');
        defaultOption2.text = '';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        dropdown2.add(defaultOption1);
        dropdown2.selectedIndex = 0;

        dropdown3.add(defaultOption2);
        dropdown3.selectedIndex = 0;

        fetch(obj.link, obj.object)
            .then((response) => {
                return response.json()
            })
            .then((countries) => {
                let option;
                for (let i = 0; i < countries.length; i++) {
                    option = document.createElement('option');
                    if (countries[i].town != null) {
                        option.text = countries[i].developmentName;
                        option.value = countries[i].developmentId;

                        dropdown2.add(option);
                    }
                }
            })

        fetch(obj.link, obj.object)
            .then((response) => {
                return response.json()
            })
            .then((countries) => {
                let option;
                for (let i = 0; i < countries.length; i++) {
                    option = document.createElement('option');
                    if (countries[i].town != null) {
                        option.text = countries[i].localAuthority;
                        option.value = countries[i].localAuthorityId;

                        dropdown.add(option);
                    }
                }
            })

        /*Pagination*/
        function Pager(tableName, itemsPerPage) {
            'use strict';

            this.tableName = tableName;
            this.itemsPerPage = itemsPerPage;
            this.currentPage = 1;
            this.pages = 0;
            this.inited = false;

            this.showRecords = function (from, to) {
                let rows = document.getElementsByClassName('props');
                console.log(rows.length);

                // i starts from 1 to skip table header row
                for (let i = 1; i < rows.length; i++) {
                    if (i < from || i > to) {
                        rows[i].style.display = 'none';
                    } else {
                        rows[i].style.display = '';
                    }
                }
            };

            this.showPage = function (pageNumber) {
                if (!this.inited) {
                    // Not initialized
                    return;
                }
                let showNum = pageNumber * 9;
                document.getElementById("show-pages").innerHTML = "Showing " + (showNum - 8) + " - " + showNum;

                let oldPageAnchor = document.getElementById('pg' + this.currentPage);
                console.log(oldPageAnchor);
                if (oldPageAnchor != null) {
                    oldPageAnchor.className = 'page-item mx-2';
                }

                this.currentPage = pageNumber;
                let newPageAnchor = document.getElementById('pg' + this.currentPage);
                if (newPageAnchor != null) {
                    newPageAnchor.className = 'pg-selected mx-2';
                }

                let from = (pageNumber - 1) * itemsPerPage + 1;
                let to = from + itemsPerPage - 1;
                this.showRecords(from, to);

                let pgNext = document.querySelector('.pg-next'),
                    pgPrev = document.querySelector('.pg-prev');

                if (this.currentPage == this.pages) {
                    if (pgNext != null) {
                        pgNext.style.display = 'none';
                    }
                } else {
                    if (pgNext != null) {
                        pgNext.style.display = '';
                    }
                }

                if (this.currentPage === 1) {
                    if (pgPrev != null) {
                        pgPrev.style.display = 'none';
                    }
                } else {
                    if (pgPrev != null) {
                        pgPrev.style.display = '';
                    }
                }
            };

            this.prev = function () {
                if (this.currentPage > 1) {
                    this.showPage(this.currentPage - 1);
                }
            };

            this.next = function () {
                if (this.currentPage < this.pages) {
                    this.showPage(this.currentPage + 1);
                }
            };

            this.init = function () {
                let rows = document.getElementsByClassName('props');
                console.log(rows.length)
                let records = (rows.length - 1);
                console.log(records)

                this.pages = Math.ceil(records / itemsPerPage);

                this.inited = true;
            };

            this.showPageNav = function (pagerName, positionId) {
                if (!this.inited) {
                    // Not initialized
                    return;
                }

                let element = document.getElementById(positionId),
                    pagerHtml = '<li onclick="' + pagerName + '.prev();"  class="page-item mx-2"><a class="page-link p-grey brand-font text-center w-26 d-flex justify-content-center">Prev</a></li>';

                for (let page = 1; page <= this.pages; page++) {
                    pagerHtml += '<li id="pg' + page + '" class="page-item mx-2" onclick="' + pagerName + '.showPage(' + page + ');"><a class="page-link p-grey brand-font text-center w-26 d-flex justify-content-center">' + page + '</a></li>';
                }

                pagerHtml += '<li onclick="' + pagerName + '.next();"  class="page-item mx-2"><a class="page-link p-grey brand-font text-center w-26 d-flex justify-content-center">Next</a></li>';

                element.innerHTML = pagerHtml;
            };
        }



        //
        let pager = new Pager('pager1', 8);

        pager.init();
        pager.showPageNav('pager', 'pageNavPosition');
        pager.showPage(1);
    </script>



    @section styles {
        @Html.Kentico().PageBuilderStyles()
    }

    @section scripts {
        @Html.Kentico().PageBuilderScripts()
    }
