﻿@model DancingGoat.Models.PageTemplates.TestimonialViewModel
@{
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
@*<div class="col-lg-12 article-detail-related-box article-detail-full-width">
        <div class="row equal-height">
            @if (!string.IsNullOrEmpty(Model.TeaserPath))
            {
                <div class="article-detail-image col-lg-6 col-md-6">
                    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="img-responsive" />
                </div>
                <div class="col-lg-1 col-md-1 article-title--padding">
                </div>
            }
            <div class="col-lg-5 col-md-5 article-title--align-middle">
                <h2>@Model.Title</h2>
                <div class="article-detail-datetime">
                    @Model.PublicationDate.ToString("D")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="article-detail-content col-lg-9">
                @Html.Kentico().ResolveUrls(Model.Text)
            </div>
        </div>
    </div>*@
<div class="news standard-bottom body-margin-x">
    <div class="d-flex justify-content-center mt-5 mb-4">
        @foreach (var author in Model.Author)
        {
            <img src="@author.Image" class="rounded-circle w-117" alt="@author.Name">
        }
    </div>
    <div class="d-flex justify-content-center mb-4">
        <div class="article-title">@Model.Title</div>
    </div>
    <div class="d-flex mx-auto mb-5 border-grey greybox-separated-text justify-content-center sub-testimonials">
        <div class="right border-grey px-3 pt-2 pb-1">@Model.Name</div>
        <div class="right border-grey px-3 pt-2 pb-1">@Model.Address</div>
        <div class="px-3 pt-2 pb-1">@Model.PublicationDate.ToString("MMMM yyyy")</div>
    </div>
    <img src="@Model.TeaserPath" alt="@Model.Title" title="@Model.Title" class="card-img-top article-img" />
    <div class="d-flex mt-5 justify-content-center" ">
        <div class="col-9">
            <div class="intro-paragraph">
                <div class="results-stats d-flex justify-content-center text-center px-5">
                    @Html.Kentico().EditableArea("area4231", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })
                </div>
            </div>
            <div class="d-flex justify-content-between body-margin-x mt-5">
                <button class="px-5 pb-2 button button-login button-properties">Back to Archive</button>
                <button class="px-5 pb-2 button button-login button-properties">Next Article</button>
            </div>
        </div>
    </div>
</div>


@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}
