﻿@model DancingGoat.Models.PageTemplates.TestimonialsViewModel
<div class="testimonials standard-bottom">
    <!--Testimonials box-->
    <div class="bg-brand-grey grey-box-padding-60 img-text-box">
        <img class="card-img-top img-guides-size mr-5 col-7" src="http://placehold.it/380?text=1"
             alt="Card image cap">
        <div class="costs-text-box col d-flex align-items-end flex-column">
            <div class="justify-content-center text-center">
                <img src="./images/profile.png"
                     class="rounded-circle w-74" alt="Cinque Terre">
                <h5 class="card-title mt-25rem text-white greybox-separated-title">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    consectetuer adipiscing.
                </h5>
                <div class="d-flex mb-4 border-grey text-white greybox-separated-text">
                    <div class="right border-grey px-3 pt-2 pb-1">The Tide</div>
                    <div class="right border-grey px-3 pt-2 pb-1">Wandsworth.SW18</div>
                    <div class="px-3 pt-2 pb-1">October 2020</div>
                </div>
            </div>
            <div class="intro-paragraph fz-15 mb-auto text-center" ">
                <div class="results-stats d-flex justify-content-center text-white">
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin
                        professor at Hampden-Sydney College in Virginia.
                    </p>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-center standard-bottom border-grey">
                <button class="mx-4 button button-login button-properties text-white border-grey px-5 pb-2">Read More</button>
            </div>
        </div>
    </div>
    <!--end of testimonials box-->
    <div class="more-optivo-widget mt-5">
        <div class="more-optivo-cards d-flex justify-content-center">
            <div class="card bg-brand-section testimonials-list-2-size p-0 mx-3 mb-4 card-340">
                <div class="card-body text-left">
                    <div class="d-flex">
                        <div class="col-2 pr-3 pb-3 pl-0">
                            <img src="./images/profile.png"
                                 class="rounded-circle w-74" alt="Cinque Terre">
                            <div class="d-flex justify-content-center p-grey pt-1 mt-4 card-grey-background-text">Rent to Buy</div>
                        </div>
                        <div>
                            <h5 class="card-title mb-2 mt-25rem">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                consectetuer adipiscing.
                            </h5>
                            <div class="separated-text d-flex mb-4">
                                <div class="right px-3 pt-2 pb-1">The Tide</div>
                                <div class="right px-3 pt-2 pb-1">Wandsworth.SW18</div>
                                <div class="px-3 pt-2 pb-1">October 2020</div>
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                            </p>
                            <button class="button button-login button-properties px-4" onclick="window.location.href='/testimonials2.html'">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-brand-section testimonials-list-2-size p-0 mx-3 mb-4 card-340">
                <div class="card-body text-left">
                    <div class="d-flex">
                        <div class="col-2 pr-3 pb-3 pl-0">
                            <img src="./images/profile.png"
                                 class="rounded-circle w-74" alt="Cinque Terre">
                            <div class="d-flex justify-content-center p-grey pt-1 mt-4 card-grey-background-text">Rent to Buy</div>
                        </div>
                        <div>
                            <h5 class="card-title mb-2 mt-25rem">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                consectetuer adipiscing.
                            </h5>
                            <div class="separated-text d-flex mb-4">
                                <div class="right px-3 pt-2 pb-1">The Tide</div>
                                <div class="right px-3 pt-2 pb-1">Wandsworth.SW18</div>
                                <div class="px-3 pt-2 pb-1">October 2020</div>
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                            </p>
                            <button class="button button-login button-properties px-4" onclick="window.location.href='/testimonials2.html'">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MOre from Optivo widget-->
    <div class="more-optivo-widget mt-5">
        <h2 class="more-optivo-title standard-bottom"><span>More from Optivo</span></h2>
        <div class="more-optivo-cards d-flex justify-content-center">
            <div class="card bg-brand-section card-list-2-size p-0 mx-3 mb-4">
                <img class="card-img-top img-list-size" src="http://placehold.it/380?text=3" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                    </p>
                    <button class="button button-login button-properties px-4">Back to Guides</button>
                </div>
            </div>
            <div class="card bg-brand-section card-list-2-size p-0 mx-3 mb-4">
                <img class="card-img-top img-list-size" src="http://placehold.it/380?text=3" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                    </p>
                    <button class="button button-login button-properties px-4">Search Now</button>
                </div>
            </div>
        </div>
    </div>
    <!--end more from Optivo widget-->
</div>

@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}
