﻿@model IEnumerable<DancingGoat.Models.Blogs.BlogViewModel>
@{ var i = 1; }
@foreach (var blog in @Model)
{
<div class="col-md-3">
    <div class="article-tile">
        @if (blog.TeaserUrl != null)
        {
<a href="@blog.Url">
    <img src="@blog.TeaserUrl.WithSizeConstraint(SizeConstraint.Height(200)).RelativePath" alt="@blog.Title" title="@blog.Title" class="article-tile-image" />
</a>}
        <div class="article-tile-date">
            @blog.PublicationDate.ToString("m")
        </div>
        <div class="article-tile-content">
            <h2 class="h4">
                <a href="@blog.Url">@blog.Title </a>
            </h2>
            <p class="article-tile-text">
                @blog.Summary
            </p>
        </div>
    </div>
</div> if (i % 4 == 0)
{
<div class="clear"></div>}
i++;
}
