﻿@model DancingGoat.Models.News.NewsViewModel

@{
    bool DisplayInRight(int sequenceOrder)
    {
        return sequenceOrder % 2 != 0;
    }
}

@{
    var i = 0;
}
@foreach (var newsSection in Model.Sections)
{
    <div class="banner position-center-parent" style="background-image: url(@newsSection.ImagePath);">
        <div class="banner-items position-center-child">
            <h1 class="d-flex justify-content-center mb-4">@newsSection.Heading</h1>
        </div>
    </div>

<div class="news standard-bottom body-margin-x">
    <div class="intro-paragraph fz-15 my-5">
        <div class="results-stats d-flex justify-content-center text-center news-paragraph px-5">
            <p>
                @Html.Raw(newsSection.Text)
            </p>
        </div>
    </div>
    <div class="d-flex">
        <div class="col">
            <h3>Categories</h3>
            <div class="py-3">
                @for (int z=1; z < Model.Categories.Count(); z++)
                {
                    <div class="categories-border mb-2 cp" onclick="filterBlogs()">
                        <div class="news-cat">@Model.Categories[z].Name</div>
                        <div class="golden-text mt-n2">@Model.Categories[z].Total Articles</div>
                    </div>
                }
                </div>
        </div>
        <div class="col-10">
            <div class="news-list d-flex row justify-content-center">
                @foreach (var blog in Model.Blogs)
                {
                <div class="card bg-white news-list-size p-0 mx-3 mb-4 br-none test">
                    @if (blog.TeaserUrl != null)
                    {
                        <img class="card-img-top news-img " src="@blog.TeaserUrl.WithSizeConstraint(SizeConstraint.Height(200)).RelativePath" alt="@blog.Title" title="@blog.Title">
                    }
                        <div class="card-img-overlay p-0">
                            <div class="justify-content-left">
                                @foreach (var cat in blog.Categories)
                                {
                                    <div class="button card-status card-info p-0 categories-mark-card px-4  pt-1 bg-blue-cat text-white"><div class="pt-1">@cat.CategoryDisplayName</div></div>
                                }
                            </div>
                        </div>
                        <div class="card-body text-left">
                            <a href="@blog.Url"><h5 class="card-title news-title cp">@blog.Title</h5> </a>
                            <div class="d-flex h-33 my-3">
                                @foreach (var author in blog.Author)
                                {
                                    <img src="@Url.Content(@author.Image)" class="rounded-circle" alt="@author.Name">
                                }

                                <div class="px-2 pt-2 separated-right">Author name</div>
                                <div class="px-2 pt-2 s-date-color">@blog.PublicationDate.ToString("dd MMMM yyyy")</div>
                            </div>
                            <p class="card-text fz-15 news-paragraph">
                                @blog.Summary
                            </p>
                            <button class="col-4 pb-2 button button-login button-properties cp" onclick="window.location.href='@blog.Url'">Read More</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

}
<script>
    function filterBlogs() {

    }
</script>
