﻿@using DancingGoat.Controllers.Widgets

@model DancingGoat.Models.EducationalPage.EducationalPageViewModel

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
@foreach (var homeSection in Model.EducationalPageSections)
{
    <div class="banner position-center-parent banner-search" style="background-image: url('@Url.Content(homeSection.BackgroundImagePath)');">
        <div class="banner-items position-center-child">
            <h1 class="d-flex justify-content-center mb-4">@homeSection.Heading</h1>
        </div>
    </div>
    <div class="buying-guides standard-bottom">
        <div class="intro-paragraph fz-15">
            <div class="results-stats d-flex justify-content-center">
                <p>
                    @homeSection.Text
                </p>
            </div>
        </div>
        </div>
        }

        @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

        @*@Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })*@

        @*@Html.Kentico().EditableArea(
                "area2",
                new EditableAreaOptions
                {
                    DefaultSectionIdentifier = ComponentIdentifiers.TWO_COLUMN_SECTION,
                    AllowedSections = AllowedComponents.NONE,
                    AllowedWidgets = new[] { SystemComponentIdentifiers.RICH_TEXT_WIDGET_IDENTIFIER }
                }
            )*@


        @*@helper MoreButton(string text, string url)
            {
                if (!String.IsNullOrEmpty(url) && (!String.IsNullOrEmpty(text)))
                {
                    <div class="row">
                        <div class="clear center-text">
                            <a href="@url" class="btn btn-more">
                                @text
                            </a>
                        </div>
                    </div>
                }
            }

            @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

            @foreach (var homeSection in Model.HomeSections)
            {
                <div class="row">
                    <h1 class="title-tab">@homeSection.Heading</h1>
                    <div class="col-sm-12">
                        <div class="ourstory-section center-text" style="background-image: url('@Url.Content(homeSection.BackgroundImagePath)');">
                            @Html.Raw(homeSection.Text)
                        </div>
                    </div>
                </div>

                @MoreButton(homeSection.MoreButtonText, homeSection.MoreButtonUrl)
            }

            @Html.Kentico().EditableArea(
                "area2",
                new EditableAreaOptions
                {
                    DefaultSectionIdentifier = ComponentIdentifiers.TWO_COLUMN_SECTION,
                    AllowedSections = AllowedComponents.NONE,
                    AllowedWidgets = new[] { SystemComponentIdentifiers.RICH_TEXT_WIDGET_IDENTIFIER }
                }
            )

            @if (Model.Reference != null)
            {
                Html.RenderPartial("_Reference", Model.Reference);
            }

            <div class="row cafe-cards">
                @Html.Kentico().EditableArea(
                    "area3",
                    new EditableAreaOptions
                    {
                        DefaultSectionIdentifier = ComponentIdentifiers.THREE_COLUMN_SECTION,
                        AllowedSections = new[] { ComponentIdentifiers.SINGLE_COLUMN_SECTION, ComponentIdentifiers.THREE_COLUMN_SECTION },
                        AllowedWidgets = new[] { CafeCardWidgetController.IDENTIFIER, ComponentIdentifiers.CTA_BUTTON_WIDGET }
                    }
                )
            </div>*@
