﻿@model DancingGoat.Models.Account.RegisterViewModel

@{
    ViewBag.Title = ResHelper.GetString("DancingGoatMvc.SignIn");
}

<div class="card-body pb-0 text-left mt-2">
    <h2 class="more-optivo-title standard-bottom mt-60">
        <span class="bg-brand-section">Register</span>
    </h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="registration-form mb-0">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="d-flex row">
                <div class="form-group col-6">

                    @*<label for="exampleFormControlInput1" class="golden-text">First Name*</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-6">
                    @*<label for="exampleFormControlInput1" class="golden-text">Last name*</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-6">
                    @*<label for="exampleFormControlInput1" class="golden-text">Email Address*</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-6">
                    @*<label for="exampleFormControlInput1" class="golden-text">
                            Confirm Email
                            Address*
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.LabelFor(model => model.EmailConfirmation, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                    @Html.EditorFor(model => model.EmailConfirmation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailConfirmation, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-6">
                    @*<label for="exampleFormControlInput1" class="golden-text">Password*</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-6">
                    @*<label for="exampleFormControlInput1" class="golden-text">
                            Confirm Password*
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.LabelFor(model => model.PasswordConfirmation, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                    @Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-6">
                    <label for="exampleFormControlInput1" class="golden-text">
                        Telephone
                        Number*
                    </label>
                    @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="title-line-right pt-5 mb-5">
                <span class="bg-brand-section">
                    Current
                    Location
                </span>
            </div>
            <div class="d-flex row">
                <div class="form-group col-6">
                    <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                        Which London borough
                        or county do you live in now?
                    </label>
                    <div>
                        <div class="dropdown-form bg-white">
                            <select id="liveIn" name="sort" class="dropdown-new-in">
                                <option value="" disabled selected></option>
                                <option value="2">Full Price High to Low</option>
                                <option value="3">min deposit Low to high</option>
                                <option value="4">min deposit High to Low</option>
                                <option value="5">Monthly Cost Low to high</option>
                                <option value="6">Monthly Cost High to Low</option>
                                <option value="7">Min Share Low to high</option>
                                <option value="8">Min Share High to Low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                        Which London borough
                        or county do you work in?
                    </label>
                    <div>
                        <div class="dropdown-form bg-white">
                            <select id="workIn" name="sort" class="dropdown-new-in">
                                <option value="" disabled selected></option>
                                <option value="2">Full Price High to Low</option>
                                <option value="3">min deposit Low to high</option>
                                <option value="4">min deposit High to Low</option>
                                <option value="5">Monthly Cost Low to high</option>
                                <option value="6">Monthly Cost High to Low</option>
                                <option value="7">Min Share Low to high</option>
                                <option value="8">Min Share High to Low</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-line-right pt-5 mb-5">
                <span class="bg-brand-section">Financial</span>
            </div>
            <div class="d-flex row">
                <div class="form-group col-6">
                    <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                        Annual Household Income
                    </label>
                    <div class="col-12 icon-input pl-0">
                        <span class="input-icon-box text-white">£</span>
                        @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                        @Html.EditorFor(model => model.AnnualHouseholdIncome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AnnualHouseholdIncome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                        Savings
                    </label>
                    <div class="col-12 icon-input pl-0">
                        <span class="input-icon-box text-white">£</span>
                        @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                        @Html.EditorFor(model => model.Savings, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Savings, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="d-flex row">
                <div class="form-group col-12">
                    <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                        How do you hear about us?
                    </label>
                    <div>
                        <div class="dropdown-form bg-white">
                            <select id="hear" name="sort" class="dropdown-new-in">
                                <option value="" disabled selected></option>
                                <option value="2">Friends</option>
                                <option value="3">Social Media</option>
                                <option value="4">Search</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex justify-content-center b-top w-100 py-5 px-5">

                <input type="submit" value="@ResHelper.GetString("DancingGoatMvc.Register")" class="col-5 button button-login button-properties golden-text pt-2" />
            </div>
        </div>
    }
</div>

<script>
    var obj = {
        link: 'https://optivo.staging.fullcirclesoftware.co.uk/api/v1.2/get-developments',
        object: {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'authorization': '2-CmI7c6JMdJjfOJ5L77LJeHMg0FW2sF1h0eKxWdaD7Guc14GwlmPXwYyX55zM'
            }
        }
    }


    let dropdown = document.getElementById('liveIn');
    let dropdown2 = document.getElementById('workIn');
    let dropdown3 = document.getElementById('hear');

    dropdown.length = 0;
    dropdown2.length = 0;

    let defaultOption = document.createElement('option');
    defaultOption.text = '';

    let defaultOption1 = document.createElement('option');
    defaultOption1.text = '';

    let defaultOption2 = document.createElement('option');
    defaultOption2.text = '';

    dropdown.add(defaultOption);
    dropdown.selectedIndex = 0;

    dropdown2.add(defaultOption1);
    dropdown2.selectedIndex = 0;

    dropdown3.add(defaultOption2);
    dropdown3.selectedIndex = 0;

    fetch(obj.link, obj.object)
        .then((response) => {
            return response.json()
        })
        .then((countries) => {
            let option;
            for (let i = 0; i < countries.length; i++) {
                option = document.createElement('option');
                if (countries[i].town != null) {
                    option.text = countries[i].developmentName;
                    option.value = countries[i].developmentId;

                    dropdown2.add(option);
                }
            }
        })

    fetch(obj.link, obj.object)
        .then((response) => {
            return response.json()
        })
        .then((countries) => {
            let option;
            for (let i = 0; i < countries.length; i++) {
                option = document.createElement('option');
                if (countries[i].town != null) {
                    option.text = countries[i].localAuthority;
                    option.value = countries[i].localAuthorityId;

                    dropdown.add(option);
                }
            }
        })


</script>