﻿@model DancingGoat.Models.Account.LoginViewModel

@{
    ViewBag.Title = ResHelper.GetString("DancingGoatMvc.SignIn");
}

<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
<div class="banner banner-search pb-5">
    <div class="banner-items">
        <h1 class="d-flex justify-content-center mb-4 test-padding-banner">My Account</h1>
        <div class="accordion login-accordion" id="tabs">
            <div class="tabs d-flex">
                <div class="card-header p-0 mr-2 tab-h53 bg-brand-section br-none current" data-tab="tab-1">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style collapsed px-4" type="button"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            Already Registered?
                        </button>
                    </h2>
                </div>
                <div class="card-header p-0 tab-h53 bg-brand-section br-none" data-tab="tab-2">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style px-4" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        New to Optivo Sales?
                    </button>
                        @*@Html.ActionLink("New to Optivo Sales?", "Register", "Accont", new { @class = "btn pt-3 btn-primary" })*@
                    </h2>
                </div>
            </div>

            <div class="card">

                <div id="tab-1" class="tab current" aria-labelledby="headingOne" data-parent="#accordionExample1">
                    <div class="card-body text-left mt-2">
                        <h2 class="background-line"><span class="bg-brand-section">Login</span></h2>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="login-form">
                                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                {
                                    @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToHtmlString()))
                                }
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="d-flex forgot-parent">
                                    @Ajax.ActionLink(ResHelper.GetString("DancingGoatMvc.SignIn.ForgottenPassword"), "RetrievePassword", null,
                                        new AjaxOptions { UpdateTargetId = "retrievePasswordWrap" }, new { @class = "forgot" })
                                </div>
                                <input type="submit" value="Login" class="button button-login button-properties px-4 standard-bottom" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*Registering Starts here*@
            <div class="card">
                <div id="tab-2" class="tab" aria-labelledby="headingTwo" data-parent="#accordionExample1">
                    @{Html.RenderAction("Registration", "Account");}
                </div>
            </div>
        </div>
    </div>
</div>


