﻿@model DancingGoat.Models.Account.RegisterViewModel

@{
    ViewBag.Title = ResHelper.GetString("DancingGoatMvc.SignIn");
}

<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
<div class="banner banner-search pb-5">
    <div class="banner-items">
        <h1 class="d-flex justify-content-center mb-4 test-padding-banner">My Account</h1>
        <div class="accordion login-accordion" id="tabs">
            <div class="tabs d-flex">
                <div class="card-header p-0 mr-2 tab-h53 bg-brand-section br-none" data-tab="tab-1">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style  px-4" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                Already Registered?
                            </button>
                    </h2>
                </div>
                <div class="card-header p-0 tab-h53 bg-brand-section collapsed br-none current" data-tab="tab-2">
                    <h2 class="mb-0">
                        <button class="btn pt-3 btn-primary tab-style px-4" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            New to Optivo Sales?
                        </button>
                    </h2>
                </div>
            </div>
            @*Registering Starts here*@
            <div class="card">
                <div id="tab-2" class="tab current" aria-labelledby="headingTwo" data-parent="#accordionExample1">
                    <div class="card-body pb-0 text-left mt-2">
                        <h2 class="more-optivo-title standard-bottom mt-60">
                            <span class="bg-brand-section">Register</span>
                        </h2>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="registration-form mb-0">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="d-flex row">
                                    <div class="form-group col-6">

                                        @*<label for="exampleFormControlInput1" class="golden-text">First Name*</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-6">
                                        @*<label for="exampleFormControlInput1" class="golden-text">Last name*</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-6">
                                        @*<label for="exampleFormControlInput1" class="golden-text">Email Address*</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-6">
                                        @*<label for="exampleFormControlInput1" class="golden-text">
                                                Confirm Email
                                                Address*
                                            </label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.LabelFor(model => model.EmailConfirmation, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                        @Html.EditorFor(model => model.EmailConfirmation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmailConfirmation, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-6">
                                        @*<label for="exampleFormControlInput1" class="golden-text">Password*</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-6">
                                        @*<label for="exampleFormControlInput1" class="golden-text">
                                                Confirm Password*
                                            </label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.LabelFor(model => model.PasswordConfirmation, htmlAttributes: new { @class = "golden-text form-group-label-required" })
                                        @Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1" class="golden-text">
                                            Telephone
                                            Number*
                                        </label>
                                        @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="title-line-right pt-5 mb-5">
                                    <span class="bg-brand-section">
                                        Current
                                        Location
                                    </span>
                                </div>
                                <div class="d-flex row">
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                                            Which London borough
                                            or county do you live in now?
                                        </label>
                                        <div>

                                            <div class="header__language--dropdown">
                                                <select>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="11 pm">11 pm</option>
                                                    <option value="12 am">12 am</option>
                                                    <option value="8 am">8 am</option>
                                                    <option value="2 pm">2 pm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                                            Which London borough
                                            or county do you work in?
                                        </label>
                                        <div>

                                            <div class="header__language--dropdown">
                                                <select>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="11 pm">11 pm</option>
                                                    <option value="12 am">12 am</option>
                                                    <option value="8 am">8 am</option>
                                                    <option value="2 pm">2 pm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-line-right pt-5 mb-5">
                                    <span class="bg-brand-section">Financial</span>
                                </div>
                                <div class="d-flex row">
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                                            Annual Household Income
                                        </label>
                                        <div class="col-12 icon-input">
                                            <span class="input-icon-box text-white">£</span>
                                            @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                                            @Html.EditorFor(model => model.AnnualHouseholdIncome, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AnnualHouseholdIncome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                                            Savings
                                        </label>
                                        <div class="col-12 icon-input">
                                            <span class="input-icon-box text-white">£</span>
                                            @*<input type="email" class="form-control" id="exampleFormControlInput1">*@
                                            @Html.EditorFor(model => model.Savings, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Savings, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex row">
                                    <div class="form-group col-12">
                                        <label for="exampleFormControlInput1" class="golden-text form-group-label-required">
                                            How do you hear about us?
                                        </label>
                                        <div>
                                            <div class="header__language--dropdown">
                                                <select>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="11 pm">11 pm</option>
                                                    <option value="12 am">12 am</option>
                                                    <option value="8 am">8 am</option>
                                                    <option value="2 pm">2 pm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div class="d-flex justify-content-center b-top w-100 py-5 px-5">

                                    <input type="submit" value="@ResHelper.GetString("DancingGoatMvc.Register")" class="col-5 button button-login button-properties golden-text pt-2" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>