﻿@model DancingGoat.Models.Testimonials.TestimonialsViewModel

@{
    bool DisplayInRight(int sequenceOrder)
    {
        return sequenceOrder % 2 != 0;
    }
}

@{
    var i = 0;
}
@foreach (var testimonialsSection in Model.Sections)
{
    <div class="banner position-center-parent" style="background-image: url(@testimonialsSection.ImagePath);">
        <div class="banner-items position-center-child">
            <h1 class="d-flex justify-content-center mb-4">@testimonialsSection.Heading</h1>
        </div>
    </div>
    <div class="testimonials standard-bottom">
        <!--Testimonials box-->
        <!--end of testimonials box-->
        <div class="more-optivo-widget mt-5">
            <div class="more-optivo-cards d-flex row justify-content-center">
                @foreach (var testimonial in @Model.Testimonials)
                {
                    <div class="card bg-brand-section testimonials-list-2-size p-0 mx-3 mb-4 card-340">
                        <div class="card-body text-left">
                            <div class="d-flex">
                                <div class="col-2 pr-3 pb-3 pl-0">
                                    @foreach (var author in testimonial.Author)
                                    {
                                        <img src="@author.Image"
                                             class="rounded-circle w-74" alt="@author.Name">
                                    }
                                    <div class="d-flex justify-content-center p-grey pt-1 mt-4 card-grey-background-text">Rent to Buy</div>
                                </div>
                                <div>
                                    <h5 class="card-title mb-2 mt-25rem">
                                        @testimonial.Title
                                    </h5>
                                    <div class="separated-text d-flex mb-4">
                                        <div class="right px-3 pt-2 pb-1">@testimonial.Name</div>
                                        <div class="right px-3 pt-2 pb-1">@testimonial.Address</div>
                                        <div class="px-3 pt-2 pb-1">@testimonial.PublicationDate.ToString("MMMM yyyy")</div>
                                    </div>
                                    <p class="card-text">
                                        @testimonial.Summary
                                    </p>
                                    <button class="button button-login button-properties px-4" onclick="window.location.href='@testimonial.Url'">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Html.Kentico().EditableArea("area1", new EditableAreaOptions { AllowedWidgets = AreaRestrictionHelper.GetHomePageRestrictions() })

        <!--MOre from Optivo widget-->
        <!--end more from Optivo widget-->
    </div>
}
@section styles {
    @Html.Kentico().PageBuilderStyles()
}

@section scripts {
    @Html.Kentico().PageBuilderScripts()
}

