﻿@model DancingGoat.Models.Contacts.ContactViewModel

<div class="row on-mobile">
    <div class="info-text">
        @Model.Name, @Model.Street
        <br />
        @Model.StateCode @Model.ZIP, @Model.Country
    </div>
</div>
<div class="row">
    <div class="info-text">Tel: @Model.Phone</div>
</div>
<div class="row">
    <div class="info-text">Email: @Html.MailTo(Model.Email)</div>
</div>
<div class="row">
    <img id="logo" class="footer-logo"
         src="~/Content/Images/Header.svg">
</div>