﻿@model IEnumerable<DancingGoat.Models.SocialLinks.SocialLinkViewModel>

@foreach (var link in Model)
{
    <a class="followus-link mr-1" href="@link.Url" target="_blank">
        <img src="@link.IconPath" alt="@link.Title" title="@link.Title" class="icon-svg">
    </a>
}

