﻿@model finalResponse

    <div class="d-flex row">

        @*<div class="form-group col-3">
            <label for="exampleFormControlInput1" class="golden-text">
                previousAddressId
            </label>
            <input name="Responses[0]previousAddresses[@ViewBag.Index].previousAddressId" asp-for="Responses[0].previousAddresses[0].previousAddressId" class="form-control" id="exampleFormControlInput1">
        </div>*@

        <div class="form-group col-3">
            <label for="exampleFormControlInput1" class="golden-text">
                Address Line One
            </label>
            <input name="Responses[0].previousAddresses[@ViewBag.Index].addressLine1" asp-for="Responses[0].previousAddresses[0].addressLine1" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group col-3">
            <label for="exampleFormControlInput1" class="golden-text">
                Address Line Two
            </label>
            <input name="Responses[0].previousAddresses[@ViewBag.Index].addressLine2" asp-for="Responses[0].previousAddresses[0].addressLine2" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group col-3">
            <label for="exampleFormControlInput1" class="golden-text">
                Town/City
            </label>
            <input class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group col-3">
            <label for="exampleFormControlInput1" class="golden-text">
                Post Code
            </label>
            <input name="Responses[0].previousAddresses[@ViewBag.Index].postcode" asp-for="Responses[0].previousAddresses[0].postcode" class="form-control" id="exampleFormControlInput1">
        </div>
    </div>
 
