﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.FeaturedWidgetViewModel


<div class="mb-5">
    <h2 class="font-weight-light d-flex justify-content-center home-f-x home-f-title">Featured properties</h2>
    <!-- desktop -->
    <div class="desktop-featured row mx-auto my-auto">
        <div id="recipeCarousel" class="homepage-carousel carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                @for (int i = 0; i < Model.fullListing.Count; i++)
                {
                    if (i == 1)
                    {
                        <div class="carousel-item active">
                            <div class="col-md-4 my-sm-4  my-md-0 mb-3" id="@Model.fullListing[i].propertyId">
                                <div class="card border-none bg-white">
                                    <img class="card-img home-card-img w-100" src="https://via.placeholder.com/300.png/09f/fff" alt="Card image">
                                    <div class="card-img-overlay">
                                        <div class="d-flex justify-content-between">
                                            @if (Model.fullListing[i].Tag1 != null && Model.fullListing[i].Tag2 != null)
                                            {
                                                <div class="button card-status card-info">@Model.fullListing[i].Tag1</div>
                                                <div class="button card-categories card-info">@Model.fullListing[i].Tag2</div>
                                            }
                                            else if (Model.fullListing[i].Tag1 != null && Model.fullListing[i].Tag2 == null)
                                            {
                                                <div class="button card-status card-info">@Model.fullListing[i].Tag1</div>
                                            }
                                            else if (Model.fullListing[i].Tag2 != null && Model.fullListing[i].Tag1 == null)
                                            {
                                                <div class="button card-status card-info">@Model.fullListing[i].Tag2</div>
                                            }
                                            else if (Model.fullListing[i].Tag2 == null && Model.fullListing[i].Tag1 == null)
                                            {
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body p-0 min-h-321px">
                                        @if (Model.fullListing[i].tenureTypeId == 1)
                                        {
                                            if (Model.fullListing[i].FeaturedProperty)
                                            {
                                                <div class="row m-0 d-flex card-category text-center justify-content-end text-white bg-black">
                                                    <div class="py-2 px-2 shared">Shared Ownership</div>
                                                </div>
                                                <div class="row m-0 p-3 bg-black text-white mh-188">
                                                    <div class="card-home-text-style">
                                                        <div class="mb-3">
                                                            <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                            <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Bedrooms</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Full market value from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Prices from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Minimum deposit from</div>
                                                            <div class="card-spec col-4">20%</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Total monthly cost from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                                    <div class="py-2 px-2 shared">Shared Ownership</div>
                                                </div>
                                                <div class="row m-0 p-3 bg-black text-white mh-188">
                                                    <div class="card-home-text-style">
                                                        <div class="mb-3">
                                                            <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                            <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Bedrooms</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Full market value from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Prices from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Minimum deposit from</div>
                                                            <div class="card-spec col-4">20%</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Total monthly cost from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                        @if (Model.fullListing[i].tenureTypeId == 2)
                                        {
                                            <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                                <div class="py-2 px-2 shared private">Help to Buy</div>
                                            </div>
                                            <div class="row m-0 p-3 bg-black text-white mh-188">
                                                <div class="card-home-text-style">
                                                    <div class="mb-3">
                                                        <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                        <div class="card-spec">@Model.fullListing[i].DevelopmentLocation</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Bedrooms</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Prices from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Minimum deposit from</div>
                                                        <div class="card-spec col-4">20%</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Total monthly cost from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                        @if (Model.fullListing[i].tenureTypeId == 6)
                                        {
                                            <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                                <div class="py-2 px-2 shared rent">Rent to Buy</div>
                                            </div>
                                            <div class="row m-0 p-3 bg-black text-white mh-188">
                                                <div class="card-home-text-style">
                                                    <div class="mb-3">
                                                        <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                        <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Bedrooms</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Prices from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                        @if (Model.fullListing[i].tenureTypeId == 3)
                                        {
                                            <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                                <div class="py-2 px-2 shared sale">Private Sale</div>
                                            </div>
                                            <div class="row m-0 p-3 bg-black text-white mh-188">
                                                <div class="card-home-text-style">
                                                    <div class="mb-3">
                                                        <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                        <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Bedrooms</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Prices from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Minimum deposit from</div>
                                                        <div class="card-spec col-4">20%</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Total monthly cost from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="col-md-4 my-sm-4  my-md-0 mb-3" id="@Model.fullListing[i].propertyId">
                                <div class="card border-none bg-white">
                                    <img class="card-img home-card-img w-100" src="@(Model.fullListing[i].Image != null ? @Model.fullListing[i].Image : "https://via.placeholder.com/300.png/09f/fff")" alt="Card image">
                                    <div class="card-img-overlay">
                                        <div class="d-flex justify-content-between">
                                            @if (Model.fullListing[i].Tag1 != "" && Model.fullListing[i].Tag2 != "")
                                            {
                                                <div class="button card-status card-info">@Model.fullListing[i].Tag1</div>
                                                <div class="button card-categories card-info">@Model.fullListing[i].Tag2</div>
                                            }
                                            else if (Model.fullListing[i].Tag1 != "" && Model.fullListing[i].Tag2 == "")
                                            {
                                                <div class="button card-status card-info">@Model.fullListing[i].Tag1</div>
                                            }
                                            else if (Model.fullListing[i].Tag2 != "" && Model.fullListing[i].Tag1 == "")
                                            {
                                                <div class="button card-status card-info">@Model.fullListing[i].Tag2</div>
                                            }
                                            else if (Model.fullListing[i].Tag2 == "" && Model.fullListing[i].Tag1 == "")
                                            {
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body p-0 min-h-321px">
                                        @if (Model.fullListing[i].tenureTypeId == 1)
                                        {
                                            if (Model.fullListing[i].FeaturedProperty)
                                            {
                                                <div class="row m-0 d-flex card-category text-center justify-content-end text-white bg-black">
                                                    <div class="py-2 px-2 shared">Shared Ownership</div>
                                                </div>
                                                <div class="row m-0 p-3 bg-black text-white mh-188">
                                                    <div class="card-home-text-style">
                                                        <div class="mb-3">
                                                            <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                            <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Bedrooms</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Full market value from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Prices from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Minimum deposit from</div>
                                                            <div class="card-spec col-4">20%</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Total monthly cost from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row m-0 d-flex card-category text-center justify-content-end text-white">
                                                    <div class="py-2 px-2 shared">Shared Ownership</div>
                                                </div>
                                                <div class="row m-0 p-3 bg-black text-white mh-188">
                                                    <div class="card-home-text-style">
                                                        <div class="mb-3">
                                                            <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                            <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Bedrooms</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Full market value from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Prices from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Minimum deposit from</div>
                                                            <div class="card-spec col-4">20%</div>
                                                        </div>
                                                        <div class="d-flex w-100 justify-content-between card-values">
                                                            <div class="card-spec text-f">Total monthly cost from</div>
                                                            <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                        @if (Model.fullListing[i].tenureTypeId == 2)
                                        {
                                            <div class="row m-0 d-flex card-category text-center justify-content-end text-white bg-black">
                                                <div class="py-2 px-2 shared private">Help to Buy</div>
                                            </div>
                                            <div class="row m-0 p-3 bg-black text-white mh-188">
                                                <div class="card-home-text-style">
                                                    <div class="mb-3">
                                                        <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                        <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Bedrooms</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Prices from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Minimum deposit from</div>
                                                        <div class="card-spec col-4">20%</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Total monthly cost from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                        @if (Model.fullListing[i].tenureTypeId == 6)
                                        {
                                            <div class="row m-0 d-flex card-category text-center justify-content-end text-white bg-black">
                                                <div class="py-2 px-2 shared rent">Rent to Buy</div>
                                            </div>
                                            <div class="row m-0 p-3 bg-black text-white mh-188">
                                                <div class="card-home-text-style">
                                                    <div class="mb-3">
                                                        <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                        <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Bedrooms</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Prices from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href='/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                        @if (Model.fullListing[i].tenureTypeId == 3)
                                        {
                                            <div class="row m-0 d-flex card-category text-center justify-content-end text-white bg-black">
                                                <div class="py-2 px-2 shared sale">Private Sale</div>
                                            </div>
                                            <div class="row m-0 p-3 bg-black text-white mh-188">
                                                <div class="card-home-text-style">
                                                    <div class="mb-3">
                                                        <div class="card-ts card-name">@Model.fullListing[i].DevelopmentTitle</div>
                                                        <div class="card-spec text-f">@Model.fullListing[i].DevelopmentLocation</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Bedrooms</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].minBedrooms</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Prices from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].pricesFrom</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Minimum deposit from</div>
                                                        <div class="card-spec col-4">20%</div>
                                                    </div>
                                                    <div class="d-flex w-100 justify-content-between card-values">
                                                        <div class="card-spec text-f">Total monthly cost from</div>
                                                        <div class="card-spec col-4">@Model.fullListing[i].tenureTypeId</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 d-flex bg-white card-category text-center justify-content-center view-button-place py-3 border-bottom-0">
                                                <button class="button card-info button-properties px-3 col-9 card-butt" onclick="window.location.href = '/@Model.fullListing[i].DevelopmentId'">View Properties</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <img src="./Content/images/slider-controls-previous.svg">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <img src="./Content/images/slider-controls-next.svg">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
    <!--end desktop featured list-->
