﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.TestimonialsFeatureWidgetViewModel


<div class="bg-brand-grey grey-box-padding-60 img-text-box mt-4">
    @if(Model.youtubeLink == null)
            {
    <img class="card-img-top img-guides-size mr-5 col-7" src="@Model.ImagePath"
         alt="Card image cap">
            } else
            {
<video width="644px" height="442px" controls>
    <source src="@Model.youtubeLink" type="video/mp4">
    <source src="@Model.youtubeLink" type="video/ogg">
    Your browser does not support the video tag.
</video>
            }
    
    
    <div class="testimonials-text-box col d-flex align-items-center flex-column">
        <div class="justify-content-center text-center">
            <img src="@Model.ImagePath1"
                 class="rounded-circle w-125" alt="@Model.Title">
            <h5 class="card-title mt-25rem text-white greybox-separated-title">
                @Model.Title
            </h5>
            <div class="d-flex mb-4 border-grey text-white greybox-separated-text">
                <div class="right border-grey px-3 pt-2 pb-1">@Model.CompanyName</div>
                <div class="right border-grey px-3 pt-2 pb-1">@Model.CompanyAddress</div>
                <div class="px-3 pt-2 pb-1">@Model.Date</div>
            </div>
        </div>
        <div class="intro-paragraph fz-15 mb-auto text-center" ">
            <div class="results-stats d-flex justify-content-center text-white">
                <p>
                    @Model.Text
                </p>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center standard-bottom border-grey">
            <button class="mx-4 button button-login button-properties text-white border-grey px-5 pb-2">Read More</button>
        </div>
    </div>
</div>