﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.MoreFromOptivoWidgetViewModel

<!--MOre from Optivo widget-->
<div class="more-optivo-widget mt-5">
    <h2 class="background-line mb-4"><span>More from Optivo</span></h2>
    <div class="more-optivo-cards d-flex justify-content-center">
        <div class="card bg-brand-section card-list-2-size p-0 mx-3 mb-4">
            <img class="card-img-top img-list-size" src="@Model.Image1" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">@Model.Title1</h5>
                <p class="card-text">
                    @Model.Text1
                </p>
                <button class="button button-login button-properties px-4" onclick="window.location.href = '@Model.ButtonLink1'">@Model.ButtonText1</button>
            </div>
        </div>
        <div class="card bg-brand-section card-list-2-size p-0 mx-3 mb-4">
            <img class="card-img-top img-list-size" src="@Model.Image2" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">@Model.Title2</h5>
                <p class="card-text">
                    @Model.Text2
                </p>
                <button class="button button-login button-properties px-4" onclick="window.location.href = '@Model.ButtonLink2'">@Model.ButtonText2</button>
            </div>
        </div>
    </div>
</div>
<!--end more from Optivo widget-->