﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.VideoImageBoxWidgetViewModel


@if (Model.youtubeLink != null)
{
    <div class="bg-brand-grey grey-box-padding-60">
        <video width="100%" height="611px" controls>
            <source src="@Model.youtubeLink" type="video/mp4">
            <source src="@Model.youtubeLink" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="intro-paragraph fz-15 my-5 body-margin-x text-center">
        <div class="results-stats d-flex justify-content-center">
            <p>
                @Model.text
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-distance">
        <button class="col-lg-2 button button-login button-properties bg-white">@Model.buttonText</button>
    </div>
}
else
{
    <div class="bg-brand-grey grey-box-padding-60 img-text-box">
        <img class="card-img-top img-guides-size mr-5 col-7" src="@Model.ImagePath" alt="Card image cap">
        <div class="costs-text-box bg-black-brand col d-flex align-items-end flex-column text-center">
            <div class="intro-paragraph fz-15 mb-auto">
                <div class="results-stats d-flex justify-content-center text-white">
                    @if (Context.Kentico().PageBuilder().EditMode)
                    {
                        <p>
                            @{
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(VideoImageBoxWidgetProperties.text),
                                    Text = Model.text,
                                });
                            }
                        </p>
                    }
                    else
                    {
                        <p>
                            @Model.text
                        </p>
                    }
                </div>
            </div>
            @if (Model.buttonText != null)
            {
                <div class="d-flex w-100 justify-content-center standard-bottom border-grey">
                    <button class="w-100 button button-login button-properties text-white border-grey" onclick="window.location.href = '@Model.buttonLink'">@Model.buttonText</button>
                </div>
            }
            </div>
    </div>
}
@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
    {
        PropertyName = nameof(VideoImageBoxWidgetProperties.ImageGuid),
        HasImage = !string.IsNullOrEmpty(Model.ImagePath),
    });
}

<!-- image -->
