﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HomeBrochureWidgetViewModel


<div class="download-brochures bg-listing-grey mt-5" style="background: @Model.ColorRGBA">
    <div class="text-center mb-4">
        @if (Context.Kentico().PageBuilder().EditMode)
        {
            <div class="listing-subtitle text-white">
                @{
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(HomeBrandWidgetProperties.Title),
                        Text = Model.Title,
                    });
                }
            </div>
        }
        else
        {
            <div class="listing-subtitle text-white">
                @Model.Title
            </div>
        }
        <div class="intro-paragraph fz-15 my-5 body-margin-x">
            <div class="results-stats d-flex justify-content-center text-center text-white news-paragraph px-5">
                @if (Context.Kentico().PageBuilder().EditMode)
                {
                    <p>
                        @{
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(HomeBrandWidgetProperties.Text),
                                Text = Model.Text,
                            });
                        }
                    </p>
                }
                else
                {
                    <p>
                        @Model.Text
                    </p>
                }
            </div>
        </div>
        <div class="d-flex w-100 justify-content-left standard-bottom border-grey pb-4">
            @if (Model.DevelopmentBrochure == true)
            {
                <button class="button button-login button-properties text-white px-5 mr-4 pb-2 col button-white b-w263px b-white">
                    <a class="a-white" href="@Model.DownloadDevelopmentBrochure" download>Development Brochure</a>
                </button>

            }
            @if (Model.SharedOwnershipFloorplans == true)
            {

                <button class="button button-login button-properties text-white px-5 mr-4  pb-2 col button-white b-w263px b-white">
                    <a class="a-white" href="@Model.DownloadSharedOwnershipFloorplans" download>
                        Shared ownership Floorplans
                    </a>
                </button>

            }
            @if (Model.PrivateSaleFloorplans == true)
            {

                <button class="button button-login button-properties text-white px-5 mr-4  pb-2 col button-white b-w263px b-white">
                    <a class="a-white" href="@Model.DownloadPrivateSaleFloorplans" download>Private Sale Floorplans</a>
                </button>

            }
            @if (Model.RentToBuyFloorplans == true)
            {

                <button class="button button-login button-properties text-white px-5 mr-4  pb-2 col button-white b-w263px b-white">
                    <a class="a-white" href="@Model.DownloadRentToBuyFloorplans" download>Rent to Buy Floorplans</a>
                </button>

            }
        </div>
    </div>
</div>