﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.HomeMapWidgetViewModel
<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<h2 id="map" class="more-optivo-title standard-bottom mt-5"><span>Location</span></h2>
<div class="location-map footer-distance">
    <div class="map body-margin-x">
        <div>
            <div id="mapid"></div>
        </div>
    </div>
</div>
<div class="intro-paragraph fz-15 my-5 body-margin-x">
    <div class="results-stats d-flex justify-content-center text-center news-paragraph px-5">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                <p>
                    @{
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(HomeMapWidgetProperties.Text),
                            Text = Model.Text,
                        });
                    }
                </p>
            }
            else
            {
                <p>@Model.Text</p>
            }
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script>
    var mymap = L.map('mapid').setView([@Model.Lan, @Model.Lat], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaHVzYWtvdiIsImEiOiJja3BiMnZvc2EwM2gyMnFydGY3Y2N0N3liIn0.M_yP0Wy6q2FUfa1gmjeo2A'
    }).addTo(mymap);
    var marker = L.marker([@Model.MarkerLan, @Model.MarkerLat]).addTo(mymap);
</script>
