﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HomeSpecificationWidgetViewModel


<div class="spec-item standard-bottom">
    @if (Context.Kentico().PageBuilder().EditMode)
    {
        <h3 class="golden-text">
            @{
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                {
                    PropertyName = nameof(HomeSpecificationWidgetProperties.Title),
                    Text = Model.Title,
                });
            }
        </h3>
    }
    else
    {
        <h3 class="golden-text">@Model.Title</h3>
    }
    @if (Context.Kentico().PageBuilder().EditMode)
    {
        <div class="spec-text ml-4">
            @{
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                {
                    PropertyName = nameof(HomeSpecificationWidgetProperties.Text),
                    Text = Model.Text,
                });
            }
        </div>
    }
    else
    {
        <div class="spec-text ml-4">
            @Model.Title
        </div>
    }
</div>