﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HomeGalleryWidgetViewModel

<h2 id="gallery" class="background-line standard-bottom mt-5"><span>Gallery</span></h2>
<div class="listing-gallery footer-distance">
    <div class="accordion login-accordion d-contents" id="accordionExample1">
        <div class="tabs d-flex justify-content-center">
            <div class="card-header p-0 mr-2 tab-h53 bg-brand-section br-none" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-primary tab-style collapsed px-4" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        CGIs
                    </button>
                </h2>
            </div>
            <div class="card-header mr-2 p-0 tab-h53 bg-brand-section br-none" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-primary tab-style px-4" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Show Home
                    </button>
                </h2>
            </div>
            <div class="card-header p-0 tab-h53 bg-brand-section br-none" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-primary tab-style px-4" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Local Area
                    </button>
                </h2>
            </div>
        </div>
        <div class="card bg-white">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1">
                <div class="card-body bg-white text-left p-0">
                    <div>
                        <!-- Container for the image gallery -->
                        <div class="pt-0">

                            <!-- Full-width images with number text -->
                            @foreach (var images in Model.Images)
                            {
                                <div class="mySlides full-image">
                                    <img src="@images.DirectUrl" style="width:100%">
                                </div>
                            }
                            @foreach (var video in Model.Videos)
                            {
                                <div class="mySlides full-image">
                                    <video controls class="w-100" height="624">
                                        <source src="@video.DirectUrl" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            }

                            <!-- Next and previous buttons -->
                            <div class="commands">
                                <a class="prev" onclick="plusSlides(-1)"></a>
                                <a class="next" onclick="plusSlides(1)"></a>
                            </div>

                            <!--Dotts-->
                            <div class="d-flex justify-content-center my-3">
                                @foreach (var images in Model.Images)
                                {
                                    <div class="mx-1">
                                        <span class="dot"></span>
                                    </div>
                                }
                                @foreach (var video in Model.Videos)
                                {
                                    <div class="mx-1">
                                        <span class="dot"></span>
                                    </div>
                                }
                            </div>

                            <!-- Thumbnail images -->
                            <div class="d-flex justify-content-center">
                                @{int i = 1;}
                                @foreach (var images in Model.Images)
                                {
                                    <div class="mx-2">
                                        <img class="cursor img-next" src="@images.DirectUrl" onclick="currentSlide(@i)"
                                             alt="The Woods">
                                    </div>
                                    i++;
                                }
                                @foreach (var videos in Model.Videos)
                                {
                                    <div class="mx-2">
                                        <video controls class="w-100" height="222">
                                            <source src="@videos.DirectUrl" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    i++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-white">
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample1">
                <div class="card-body bg-white text-left p-0">
                    <div>
                        <!-- Container for the image gallery -->
                        <div class="pt-0">

                            <!-- Full-width images with number text -->
                            @foreach (var images in Model.Images)
                            {
                                <div class="mySlides1 full-image">
                                    <img src="@images.DirectUrl" style="width:100%">
                                </div>
                            }
                            @foreach (var video in Model.Videos)
                            {
                                <div class="mySlides1 full-image">
                                    <video controls class="w-100" height="624">
                                        <source src="@video.DirectUrl" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            }

                            <!-- Next and previous buttons -->
                            <div class="commands">
                                <a class="prev" onclick="plusSlides(-1)"></a>
                                <a class="next" onclick="plusSlides(1)"></a>
                            </div>

                            <!--Dotts-->
                            <div class="d-flex justify-content-center my-3">
                                @foreach (var images in Model.Images)
                                {
                                    <div class="mx-1">
                                        <span class="dot dot1"></span>
                                    </div>
                                }
                                @foreach (var video in Model.Videos)
                                {
                                    <div class="mx-1">
                                        <span class="dot dot1"></span>
                                    </div>
                                }
                            </div>

                            <!-- Thumbnail images -->
                            <div class="d-flex justify-content-center">
                                @{int x = 1;}
                                @foreach (var images in Model.Images)
                                {
                                    <div class="mx-2">
                                        <img class="cursor img-next" src="@images.DirectUrl" onclick="currentSlide(@x)"
                                             alt="The Woods">
                                    </div>
                                    x++;
                                }
                                @foreach (var videos in Model.Videos)
                                {
                                    <div class="mx-2">
                                        <video controls class="w-100" height="222">
                                            <source src="@videos.DirectUrl" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    x++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-white">
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample1">
                <div class="card-body bg-white text-left p-0">
                    <div>
                        <!-- Container for the image gallery -->
                        <div class="pt-0">

                            <!-- Full-width images with number text -->
                            @foreach (var images in Model.Images)
                            {
                                <div class="mySlides full-image">
                                    <img src="@images.DirectUrl" style="width:100%">
                                </div>
                            }
                            @foreach (var video in Model.Videos)
                            {
                                <div class="mySlides full-image">
                                    <video controls class="w-100" height="624">
                                        <source src="@video.DirectUrl" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            }

                            <!-- Next and previous buttons -->
                            <div class="commands">
                                <a class="prev" onclick="plusSlides(-1)"></a>
                                <a class="next" onclick="plusSlides(1)"></a>
                            </div>

                            <!--Dotts-->
                            <div class="d-flex justify-content-center my-3">
                                @foreach (var images in Model.Images)
                                {
                                    <div class="mx-1">
                                        <span class="dot"></span>
                                    </div>
                                }
                                @foreach (var video in Model.Videos)
                                {
                                    <div class="mx-1">
                                        <span class="dot"></span>
                                    </div>
                                }
                            </div>

                            <!-- Thumbnail images -->
                            <div class="d-flex justify-content-center">
                                @{int y = 1;}
                                @foreach (var images in Model.Images)
                                {
                                    <div class="mx-2">
                                        <img class="cursor img-next" src="@images.DirectUrl" onclick="currentSlide(@y)"
                                             alt="The Woods">
                                    </div>
                                    y++;
                                }
                                @foreach (var videos in Model.Videos)
                                {
                                    <div class="mx-2">
                                        <video controls class="w-100" height="222">
                                            <source src="@videos.DirectUrl" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    y++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

