﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.ContactContainerWidgetViewModel


<div class="contact-rows d-flex">
    <div class="col-lg-7 p-5 col-md-12">
        <div class="bg-brand-section">
            <div class="bg-inside-brand mb-3 pl-5 pb-3">
                <div class="title-line-right pt-5"><span class="bg-inside-brand pr-1">test right</span></div>
                <div class="text-left d-flex mb-1 contact-info-values mt-3">
                    <div class="bg-inside-brand mb-3">
                        <div id="outer-circle">
                            <div id="inner-circle">
                                <a href="#" class="fa fa-phone text-white"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon-value-contact pt-2 ml-2">
                        <div>Contact the sales team on</div>
                        <div class="golden-text">0800 0121 442</div>
                    </div>
                </div>
                <div class="text-left d-flex mb-1 contact-info-values">
                    <div class="bg-inside-brand mb-3">
                        <div id="outer-circle">
                            <div id="inner-circle">
                                <a href="#" class="fa fa-envelope text-white"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon-value-contact pt-2 ml-2">
                        <div>Contact the sales team on</div>
                        <div class="golden-text">0800 0121 442</div>
                    </div>
                </div>
            </div>
            <div class="bg-inside-brand mb-3 pl-5 pb-3">
                <div class="title-line-right pt-5"><span class="bg-inside-brand pr-1">test right</span></div>
                <div class="text-left d-flex mb-1 contact-info-values mt-3">
                    <div class="bg-inside-brand mb-3">
                        <div id="outer-circle">
                            <div id="inner-circle">
                                <a href="#" class="fa fa-phone text-white"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon-value-contact pt-2 ml-2">
                        <div>Contact the sales team on</div>
                        <div class="golden-text">0800 0121 442</div>
                    </div>
                </div>
                <div class="text-left d-flex mb-1 contact-info-values">
                    <div class="bg-inside-brand mb-3">
                        <div id="outer-circle">
                            <div id="inner-circle">
                                <a href="#" class="fa fa-envelope text-white"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon-value-contact pt-2 ml-2">
                        <div>Contact the sales team on</div>
                        <div class="golden-text">0800 0121 442</div>
                    </div>
                </div>
            </div>
            <div class="bg-inside-brand mb-3 pl-5 pb-3">
                <div class="title-line-right pt-5"><span class="bg-inside-brand pr-1">test right</span></div>
                <div class="text-left d-flex mb-1 contact-info-values mt-3">
                    <div class="bg-inside-brand mb-3">
                        <div id="outer-circle">
                            <div id="inner-circle">
                                <a href="#" class="fa fa-phone text-white"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon-value-contact pt-2 ml-2">
                        <div>Contact the sales team on</div>
                        <div class="golden-text">0800 0121 442</div>
                    </div>
                </div>
                <div class="text-left d-flex mb-1 contact-info-values">
                    <div class="bg-inside-brand mb-3">
                        <div id="outer-circle">
                            <div id="inner-circle">
                                <a href="#" class="fa fa-envelope text-white"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon-value-contact pt-2 ml-2">
                        <div>Contact the sales team on</div>
                        <div class="golden-text">0800 0121 442</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 p-5 col-md-12">
        <div class="card bg-brand-section p-0">
            <img class="card-img-top img-list-size" src="http://placehold.it/380?text=3" alt="Card image cap">
            <div class="card-body text-center">
                <div class="title-line-right pt-5 standard-bottom">
                    <span class="bg-brand-section pr-1">Opening Hours</span>
                </div>
                <div class="worktime-spec text-left standard-bottom">
                    <div class="values d-flex">
                        <div class="golden-text col-5">Monday - Saturday</div>
                        <div class="golden-text mr-5">:</div>
                        <div class="golden-text">09:00 - 17:00</div>
                    </div>
                    <div class="values d-flex">
                        <div class="golden-text col-5">Thursday</div>
                        <div class="golden-text mr-5">:</div>
                        <div class="golden-text">09:00 - 19:00</div>
                    </div>
                    <div class="values d-flex">
                        <div class="golden-text col-5">Sunday</div>
                        <div class="golden-text mr-5">:</div>
                        <div class="golden-text">09:00 - 17:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>