﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HomeBrandWidgetViewModel


<div class="desktop-nav header insite-nav p-0 mt-0" style="background: @Model.ColorRGBA !important">
    <ul id="navlist">
        @if (Model.Overview == true)
        {
            <li class="mx-3 cp"><a href="/">Overview</a></li>
        }
        @if (Model.Gallery == true)
        {
            <li class="mx-3 cp"><a href="/buying-guide.html">Gallery</a></li>
        }
        @if (Model.Location == true)
        {
            <li class="mx-3"><a href="#">Location</a></li>
        }
        @if (Model.Specification == true)
        {
            <li class="mx-3"><a href="/about.html">Specification</a></li>
        }
        @if (Model.Availability == true)
        {
            <li class="mx-3"><a href="/about.html">Prices & Availability</a></li>
        }
        @if (Model.DownloadBrochure == true)
        {
            <li class="mx-3"><a href="/about.html">Download Brochure</a></li>
        }
        @if (Model.Booking == true)
        {
            <li class="mx-3"><a href="/about.html">Book an Appointment</a></li>
        }
    </ul>
</div>
<div class="d-flex justify-content-center mt-5 mb-4">
    <img src="@Model.Image" class="rounded-circle img-round-w174" alt="Cinque Terre">
</div>
<div class="d-flex justify-content-center mb-4">
    <div class="listing-subtitle" style="color: @Model.ColorRGBA">@Model.Title</div>
</div>
<div class="intro-paragraph fz-15 mt-5 body-margin-x footer-distance">
    <div class="results-stats d-flex justify-content-center text-center news-paragraph px-5">
        @if (Context.Kentico().PageBuilder().EditMode)
        {
            <p>
                @{
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(HomeBrandWidgetProperties.Text),
                        Text = Model.Text,
                    });
                }
            </p>
        }
        else
        {
            <p>
                @Model.Text
            </p>
        }
    </div>
</div>