﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.ContactTimeWidgetViewModel


<div class="card bg-brand-section p-0">
    <img class="card-img-top img-list-size" src="@Model.Image" alt="Card image cap">
    <div class="card-body text-center">
        <div class="title-line-right pt-5 standard-bottom">
            <span class="bg-brand-section pr-1">@Model.Title</span>
        </div>
        <div class="worktime-spec text-left standard-bottom">
            <div class="values d-flex">
                <div class="golden-text col-5">@Model.Days1</div>
                <div class="golden-text mr-5">:</div>
                <div class="golden-text">@Model.Value1</div>
            </div>
            @if (Model.Value2 != null)
            {
                <div class="values d-flex">
                    <div class="golden-text col-5">@Model.Day2</div>
                    <div class="golden-text mr-5">:</div>
                    <div class="golden-text">@Model.Value2</div>
                </div>
            }
            @if (Model.Value3 != null)
            {
                <div class="values d-flex">
                    <div class="golden-text col-5">@Model.Day3</div>
                    <div class="golden-text mr-5">:</div>
                    <div class="golden-text">@Model.Value3</div>
                </div>
            }
        </div>
    </div>
</div>