﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.ContactCardWidgetViewModel


<div class="bg-inside-brand mb-3 pl-5 pb-3">
    <div class="title-line-right pt-5"><span class="bg-inside-brand pr-1">@Model.Title</span></div>
    <div class="text-left d-flex mb-1 contact-info-values mt-3">
        <div class="bg-inside-brand mb-3 pt-2">
            <div id="outer-circle">
                <div id="inner-circle">
                    <a href="#" class="text-white">
                        <img src="@Model.Icon1" alt="@Model.Text1" title="@Model.Text1" class="contact-icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="card-icon-value-contact pt-2 ml-2">
            <div>@Model.Text1</div>
            <div class="golden-text">@Model.Value1</div>
        </div>
    </div>
    <div class="text-left d-flex mb-1 contact-info-values">
        <div class="bg-inside-brand mb-3 pt-2">
            <div id="outer-circle">
                <div id="inner-circle">
                    <a href="#" class="text-white">
                        <img src="@Model.Icon2" alt="@Model.Text2" title="@Model.Text2" class="contact-icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="card-icon-value-contact pt-2 ml-2">
            <div>@Model.Text2</div>
            <div class="golden-text">@Model.Value2</div>
        </div>
    </div>
</div>