﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HomeDetailsWidgetViewModel

@{
    string styleAttribute = null;
    if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        styleAttribute = $"style=\"background-image: url('{Url.Content(Model.Image)}');\"";
    }
}

@*@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
    {
        ImageType = ImageTypeEnum.MediaFile,
        PropertyName = nameof(HomeDetailsWidgetProperties.Image),
        HasImage = Model.Image != null,
        MessagePosition = PanelPositionEnum.Top,
        UseAbsolutePosition = true
    });
}*@
<div class="bg-listing-grey img-text-box">
    <img class="card-img-top img-listing-size col-6 pl-0" src="@Model.Image" alt="Card image cap">
    <div class="costs-text-box col d-flex text-left flex-column py-5 pl-4 pr-5">
        <div class="golden-text listing-title mt-5">@Model.Title</div>
        <div class="d-flex border-grey greybox-separated-text justify-content-left text-white mb-5">
            <div class="right border-grey px-3 pt-2 pb-1">@Model.CompanyName</div>
            <div class="border-grey px-3 pt-2 pb-1">@Model.CompanyAddress</div>
        </div>
        <div class="mb-5">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                <div class="marketing-list">
                    @{
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(HomeDetailsWidgetProperties.Text),
                            Text = Model.Text,
                        });
                    }
                </div>
            }
            else
            {
                <div class="marketing-list">@Model.Text</div>
            }
        </div>
        <div class="d-flex w-100 justify-content-left standard-bottom border-grey pb-4">
            <button class="button button-login button-properties text-white border-grey px-5 mr-4 pb-2">
                Book an
                Appointment
            </button>
            <button class="button button-login button-properties text-white border-grey px-5 pb-2">Register Now</button>
        </div>
    </div>
</div>