﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model DancingGoat.Models.Widgets.AccordionItemWidgetViewModel

<div class="card mb-3">

    <!-- Card header -->
    <div class="faq-h card-header bg-white" role="tab" id="headingOne1">
        <a class="controller" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                <h5 class="mb-0 pt-1">
                    @{
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(AccordionItemWidgetProperties.Title),
                            Text = Model.Title,
                        });
                    } <i class="fa fa-angle-down rotate-icon float-right"></i>
                </h5>
            }
            else
            {
                <h5 class="mb-0 pt-1">
                    @Model.Title <i class="fa fa-angle-down rotate-icon float-right"></i>
                </h5>
            }
        </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="faq-b pannel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1"
         data-parent="#accordionEx">

        @if (Context.Kentico().PageBuilder().EditMode)
        {
            <div class="card-body">
                @{
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(AccordionItemWidgetProperties.Text),
                        Text = Model.Text,
                    });
                }
            </div>
        }
        else
        {
            <div class="card-body">
                @Model.Text
            </div>
        }
    </div>

</div>

<style>
    .faq-h h5 {
        color: #886a36 !important;
        font-family: "EffraMedium";
        font-size: 17px !important;
        font-weight: 400;
        line-height: 20px;
    }
    .faq-b .card-body {
        background: #e9e6e1;
        color: #2c2c2b;
        font-family: "EffraRegular";
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
</style>