﻿@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HomeRegisterWidgetViewModel


<h2 class="more-optivo-title standard-bottom mt-5"><span>Book an Appointment</span></h2>
<div class="d-flex justify-content-center appointment-calendar body-margin-x bg-calendar">
    <div class="w-565px calendar-list">
        <div class="container-fluid no-gutter">
            <div class="layout" role="layout">

                <main class="main" role="main">
                    <div class="form-content">
                        <fieldset class="form">
                            <div class="col-sm-12">

                                <div class="col-sm-5 col-lg-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="calendar-1" class="event-calendar calendar-1" data-date="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <fieldset />
                    </div>
                </main>

            </div>
        </div>
    </div>
    <div class="bg-listing-grey w-501px calendar-status">
        <div>
            <div class="cal-title">Selected Date</div>
            <div class="selected-date-value">10th March 2022</div>
        </div>
        <div>
            <div class="cal-title">Available Times</div>
            <div class="header__language--dropdown w-206px">
                <select>
                    <option value="" disabled selected>Select</option>
                    <option value="https://flir.custhelp.com">11 pm</a></option>
                    <option value="https://flir-de.custhelp.com">12 am</a></option>
                    <option value="https://flir-fr.custhelp.com">8 am</option>
                    <option value="https://flir-it.custhelp.com">2 pm</option>
                </select>
            </div>
        </div>
        <div class="title-line-right pt-5 mb-5 pr-0">
            <span class="bg-listing-grey text-white">Make a Booking</span>
        </div>
        <div class="d-flex justify-content-left">
            <div class="col-6">
                <div class="cal-title">Existing User?</div>
                <button class="w-100 button button-login button-properties text-white border-grey px-2">Login</button>
            </div>
            <div class="col-6">
                <div class="cal-title">New to Optivo?</div>
                <button class="w-100 button button-login button-properties text-white border-grey px-2">Register</button>
            </div>
        </div>
    </div>
</div>
<div class="register-brochures bg-listing-grey mt-5">
    <div class="text-center mb-4 d-flex">
        <div class="text-left">
            <div class="listing-subtitle text-white col-7 mb-2">Register for this development</div>
            <button class="button button-login button-properties text-white button-white px-5 pb-2 col-4">
                Register
                now
            </button>
        </div>
        <div>
            Samir
        </div>
    </div>
</div>
@*<div class="intro-paragraph fz-15 mt-5 body-margin-x footer-distance">
    <div class="results-stats d-flex justify-content-center text-center news-paragraph px-5">
        @if (Context.Kentico().PageBuilder().EditMode)
        {
            <p>
                @{
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(HomeBrandWidgetProperties.Text),
                        Text = Model.Text,
                    });
                }
            </p>
        }
        else
        {
            <p>
                @Model.Text
            </p>
        }
    </div>
</div>*@

<script>
    jQuery(document).ready(function () {
        $.datepicker.parseDateTime = function (dateFormat, timeFormat, dateTimeString, dateSettings, timeSettings) { };
    });
    /*Calendar functions*/
    $(window).on({
        load: function () {

            /* Calendars
            -----------------------------------------------------------*/
            var normalDates = {};
            normalDates[new Date('11/03/2017')] = new Date('11/09/2017');
            normalDates[new Date('11/03/2017')] = new Date('11/09/2017');

            var peakDates = [];
            peakDates[new Date('03/10/2017')] = new Date('03/15/2017');
            peakDates[new Date('03/13/2017')] = new Date('03/12/2017');

            //define range
            var fromDate = new Date("03/10/2017");
            var toDate = new Date("03/15/2017");

            @*$('#calendar-1').datepicker({
                dayNamesMin: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
                firstDay: 1,
                showCurrentAtPos: 0,
                beforeShowDay: function (date) {

                    var normalRate = normalDates[date];
                    var peakRate = peakDates[date];

                    if (normalRate) {
                        //if($.inArray(date, normal_rate_dates)) {
                        return [true, 'rate-default', 'tooltip text'];
                    }
                    else if (date >= fromDate && date <= toDate) {
                        // if($.inArray(date, normal_rate_dates)) {
                        return [true, 'rate-blue', 'tooltip text'];

                    }
                    else {
                        // default
                        return [true, '', ''];
                    }
                }
            });*@
            /* End Of Calendars
            -----------------------------------------------------------*/
        },
    });
    /*end of calendar*/

    /*gallery*/
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dot = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dot.length; i++) {
            dot[i].className = dot[i].className.replace(" dot-active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dot[slideIndex - 1].className += " dot-active";
    }
</script>