﻿@model DancingGoat.Models.Navigation.MenuViewModel

@if (Model.Items.Any())
{
    <div class="col-lg-3 col-sm-12 footer-item properties-footer">
        <div class="row">
            <div class="golden-text mb-2">Properties</div>
        </div>
        @foreach (var menuItem2 in Model.propertiesItems)
        {
            <div class="row mb-2">
                <a href="@menuItem2.Url" class="a-white"><div class="info-text">@menuItem2.Caption</div></a>
            </div>
        }
    </div>
    <div class="col-lg-3 col-sm-12 footer-item informations-footer">
        <div class="row">
            <div class="golden-text mb-2">Information</div>
        </div>
        @foreach (var menuItem in Model.Items)
        {
            <div class="row mb-2">
                <a href="@menuItem.Url" class="a-white"><div class="info-text">@menuItem.Caption</div></a>
            </div>
        }
    </div>
}

