﻿@model DancingGoat.Models.Navigation.MenuViewModel

@foreach (var menuItem in Model.Items)
{
    <li>
        <a href="@menuItem.Url">@menuItem.Caption</a>
    </li>
}
<li class="pt-2">
    @if (Session["CurrentUserInfo"] != null)
    {
        using (Html.BeginForm("Logout", "Navigation", FormMethod.Post))
        {
            <button class="button button-login" type="submit" value="Logout">Log out</button>
        }
    }
    else
    {
        <button class="button button-login" onclick="window.location.href='/account/login/'">Log in</button>
    }
</li>
<li class="pt-2">
    @if (Session["CurrentUserInfo"] != null)
    {
        <button class="button button-logout" onclick="window.location.href='/dashboard/'">My Account</button>
    }
    else
    {
        <button class="button button-logout" onclick="window.location.href='/account/login/'">Register</button>
    }
</li>

<script>
    function logout() {
        $.ajax({
          url: '@Url.Action("Logout","Navigation")',
          data: { },
          success: function(data){
            //call is successfully completed and we got result in data
          },
          error:function (xhr, ajaxOptions, thrownError){
                          //some errror, some show err msg to user and log the error
                          alert(xhr.responseText);

                        }
          });
    }
</script>